Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ pre-commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: sh scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

alarmd: conclude the canonical encoder comparison, default to stream
  pkg/alarmd/cmd/alarmd/runtime_phase_two_profile_test.go
  pkg/alarmd/config/canonical_test.go
  pkg/alarmd/config/phase_two_runtime.go
Due: check-license, gofmt, goimports-reviser

docs(linkd): 补充 KAC 告警输出说明
  pkg/linkd/README.md
  pkg/linkd/docs/README.md
  pkg/linkd/docs/design/README.md
  pkg/linkd/docs/design/architecture.md
  pkg/linkd/docs/design/kac-alarm-hook.md
  pkg/linkd/docs/design/observability.md
  pkg/linkd/docs/modules/lifecycle.md
  pkg/linkd/docs/reference/contracts/README.md
  pkg/linkd/docs/reference/contracts/kac-alarm-output.md
Due: none

docs(linkd): 更新 Enrich 配置与数据源说明
  pkg/linkd/docs/guides/configuration.md
  pkg/linkd/docs/guides/elasticsearch-compatibility.md
  pkg/linkd/docs/guides/host-alert-enrich-example.md
  pkg/linkd/docs/modules/event-source.md
  pkg/linkd/docs/reference/glossary.md
Due: none

chore(linkd): 提升 Helm Chart 版本至 0.1.6
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
Due: none

alarmd: add a Dockerfile and a CI release script with the same contract as linkd's (#1490)
  pkg/alarmd/.dockerignore
  pkg/alarmd/Dockerfile
  pkg/alarmd/scripts/ci-release.sh
  pkg/alarmd/scripts/test_ci_release.py
Due: check-license

alarmd: fleet page opens on sixteen checks, objects behind them
  pkg/alarmd/fleet/attribution.go
  pkg/alarmd/fleet/check.go
  pkg/alarmd/fleet/check_test.go
  pkg/alarmd/fleet/finding.go
  pkg/alarmd/fleet/finding_test.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/ui/page_test.go
  pkg/alarmd/fleet/ui/render_smoke_test.go
  pkg/alarmd/fleet/view.go
Due: check-license, gofmt, goimports-reviser

alarmd: one navigation axis on the object list, who has to act
  pkg/alarmd/fleet/finding.go
  pkg/alarmd/fleet/finding_test.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/ui/page_test.go
  pkg/alarmd/fleet/ui/render_smoke_test.go
  pkg/alarmd/fleet/view.go
Due: check-license, gofmt, goimports-reviser

alarmd: retire the Kafka consumer, and move out the two pieces that were not its
  pkg/alarmd/consumer/claim.go
  pkg/alarmd/consumer/claim_test.go
  pkg/alarmd/kafka/assignment.go
  pkg/alarmd/kafka/assignment_test.go
  pkg/alarmd/kafka/await_signal_test.go
  pkg/alarmd/kafka/config.go
  pkg/alarmd/kafka/handler.go
  pkg/alarmd/kafka/handler_test.go
  pkg/alarmd/kafka/lifecycle_snapshot_test.go
  pkg/alarmd/kafka/offset_committer.go
  pkg/alarmd/kafka/offset_committer_test.go
  pkg/alarmd/kafka/offset_repair.go
  pkg/alarmd/kafka/offset_repair_test.go
  pkg/alarmd/kafka/owned_resource.go
  pkg/alarmd/kafka/service.go
  pkg/alarmd/kafka/service_test.go
Due: check-license, gofmt, goimports-reviser

alarmd: take the compatibility input mode out of the configuration schema too
  pkg/alarmd/cmd/alarmd/main_test.go
  pkg/alarmd/config/config.go
  pkg/alarmd/config/config_test.go
  pkg/alarmd/config/http_surface_test.go
  pkg/alarmd/config/phase_two.go
  pkg/alarmd/config/phase_two_test.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 关闭 KAC Kafka 压缩并提升 Chart 版本
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/internal/lifecycle/kachook/hook.go
Due: check-license, gofmt, goimports-reviser

alarmd: fleet page opens on checks; one navigation axis on the object list (#1492)
  pkg/alarmd/fleet/attribution.go
  pkg/alarmd/fleet/check.go
  pkg/alarmd/fleet/check_test.go
  pkg/alarmd/fleet/finding.go
  pkg/alarmd/fleet/finding_test.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/ui/page_test.go
  pkg/alarmd/fleet/ui/render_smoke_test.go
  pkg/alarmd/fleet/view.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 适配 KAC 告警 URL 身份并发布 0.1.8
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/design/kac-alarm-hook.md
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/modules/lifecycle.md
  pkg/linkd/docs/reference/contracts/kac-alarm-output.md
  pkg/linkd/internal/lifecycle/kachook/hook_test.go
  pkg/linkd/internal/lifecycle/kachook/message.go
  pkg/linkd/internal/lifecycle/kachook/message_test.go
Due: check-license, gofmt, goimports-reviser

alarmd fleet: name the strategies the source withheld, and where every dependency is
  pkg/alarmd/cmd/alarmd/runtime_phase_two.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_control_source.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_endpoints.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_endpoints_test.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_production.go
  pkg/alarmd/fleet/check.go
  pkg/alarmd/fleet/check_test.go
  pkg/alarmd/fleet/endpoints.go
  pkg/alarmd/fleet/finding.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/screen.go
  pkg/alarmd/fleet/source.go
  pkg/alarmd/fleet/source_test.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/ui/page_test.go
  pkg/alarmd/fleet/ui/render_smoke_test.go
  pkg/alarmd/fleet/view.go
  pkg/alarmd/metric/phase_two.go
  pkg/alarmd/metric/redis_calls.go
  pkg/alarmd/metric/redis_calls_test.go
Due: check-license, gofmt, goimports-reviser

alarmd fleet: name the strategies the source withheld, and where every dependency is (#1495)
  pkg/alarmd/cmd/alarmd/runtime_phase_two.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_control_source.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_endpoints.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_endpoints_test.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_production.go
  pkg/alarmd/fleet/check.go
  pkg/alarmd/fleet/check_test.go
  pkg/alarmd/fleet/endpoints.go
  pkg/alarmd/fleet/finding.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/screen.go
  pkg/alarmd/fleet/source.go
  pkg/alarmd/fleet/source_test.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/ui/page_test.go
  pkg/alarmd/fleet/ui/render_smoke_test.go
  pkg/alarmd/fleet/view.go
  pkg/alarmd/metric/phase_two.go
  pkg/alarmd/metric/redis_calls.go
  pkg/alarmd/metric/redis_calls_test.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 保留来源 Hook 脱敏凭据并拒绝无效占位符
  pkg/linkd/docs/design/event-source-dynamic-configuration.md
  pkg/linkd/internal/config/hooks.go
  pkg/linkd/internal/config/hooks_test.go
  pkg/linkd/internal/taskdispatch/hook_secrets_test.go
  pkg/linkd/internal/taskdispatch/http.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 隔离指标模型查询与通用回退会话
  pkg/linkd/internal/lifecycle/enrich/datasources/metric_client.go
  pkg/linkd/internal/lifecycle/enrich/datasources/metric_client_test.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 校验 worker 实际预算并补齐任务失败诊断
  pkg/linkd/docs/design/task-scheduling-protocol.md
  pkg/linkd/internal/cleaner/process/process.go
  pkg/linkd/internal/controlplane/process/dispatch.go
  pkg/linkd/internal/lifecycle/process/process.go
  pkg/linkd/internal/taskdispatch/agent.go
  pkg/linkd/internal/taskdispatch/agent_test.go
  pkg/linkd/internal/taskdispatch/budget.go
  pkg/linkd/internal/taskdispatch/budget_test.go
  pkg/linkd/internal/taskdispatch/controller.go
  pkg/linkd/internal/taskdispatch/failure.go
  pkg/linkd/internal/taskdispatch/failure_test.go
  pkg/linkd/internal/taskdispatch/host.go
  pkg/linkd/internal/taskdispatch/model.go
  pkg/linkd/internal/taskdispatch/planner.go
  pkg/linkd/internal/taskdispatch/planner_test.go
  pkg/linkd/internal/taskdispatch/redis_integration_test.go
Due: check-license, gofmt, goimports-reviser

test(linkd): 同步 Eventgen 默认镜像版本断言
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
Due: none

fix: Doris search_after 缺少稳定键时兼容导出分页 #1010158081164188365
  pkg/unify-query/docs/api/api.md
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/handler_test.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/format_test.go
  pkg/unify-query/tsdb/bksql/instance.go
Due: check-license, gofmt, goimports-reviser

docs: 将 search after 兜底字段注释改为中文
  pkg/unify-query/tsdb/bksql/format.go
Due: check-license, gofmt, goimports-reviser

docs(linkd): 更新主机告警标准事件示例
  pkg/linkd/docs/guides/host-alert-enrich-example.md
Due: none

feat(unify-query): support legacy relation multi paths
  pkg/unify-query/cmdb/cmdb.go
  pkg/unify-query/cmdb/struct.go
  pkg/unify-query/cmdb/v1beta1/multipath_test.go
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/docs/relation-observability.md
  pkg/unify-query/metric/metric.go
  pkg/unify-query/service/http/api/api.go
  pkg/unify-query/service/http/api/relation_paths.go
  pkg/unify-query/service/http/api/relation_paths_test.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Due: check-license, gofmt, goimports-reviser

docs(unify-query): refresh relation swagger schema
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
Due: check-license, gofmt, goimports-reviser

fix(unify-query): report relation path failures
  pkg/unify-query/cmdb/v1beta1/multipath_test.go
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
Due: check-license, gofmt, goimports-reviser

docs(linkd): 同步多级别事件文档与升级说明
  pkg/linkd/AGENTS.md
  pkg/linkd/README.md
  pkg/linkd/console/README.md
  pkg/linkd/console/src/web/pages/ExplorerPage.tsx
  pkg/linkd/docs/README.md
  pkg/linkd/docs/design/README.md
  pkg/linkd/docs/design/alarm-callback-enrichment-migration.md
  pkg/linkd/docs/design/alert-enrichment-development.md
  pkg/linkd/docs/design/architecture.md
  pkg/linkd/docs/design/define.md
  pkg/linkd/docs/design/deployment.md
  pkg/linkd/docs/design/enrich-observation.md
  pkg/linkd/docs/design/event-source-dynamic-configuration.md
  pkg/linkd/docs/design/kac-alarm-hook.md
  pkg/linkd/docs/guides/README.md
  pkg/linkd/docs/guides/active-alert-by-strategy.md
  pkg/linkd/docs/guides/configuration.md
  pkg/linkd/docs/guides/console.md
  pkg/linkd/docs/guides/event-generator.md
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/guides/image-release.md
  pkg/linkd/docs/guides/multilevel-event-upgrade.md
  pkg/linkd/docs/linkd-core-model.html
  pkg/linkd/docs/modules/cleaner.md
  pkg/linkd/docs/modules/event-source.md
  pkg/linkd/docs/modules/lifecycle.md
  pkg/linkd/docs/reference/contracts/alert-output.md
  pkg/linkd/docs/reference/contracts/kac-alarm-output.md
  pkg/linkd/docs/reference/contracts/raw-event.md
  pkg/linkd/docs/reference/glossary.md
  pkg/linkd/docs/research/2026-09-06-lifecycle-execution-flow.md
  pkg/linkd/docs/research/2026-09-06-lifecycle-throughput-optimization-summary.md
  pkg/linkd/docs/research/alarm-callback-input-field-inventory.md
  pkg/linkd/docs/research/benchmarks/2026-09-04-lifecycle-elasticsearch-throughput.md
  pkg/linkd/tests/e2e/allinone/README.md
  pkg/linkd/tests/tools/rawgen/README.md
Due: none

docs(unify-query): record relation dashboard
  pkg/unify-query/docs/relation-observability.md
Due: none

docs(linkd): 调整标准事件 values 示例
  pkg/linkd/docs/guides/host-alert-enrich-example.md
Due: none

feat(unify-query): add TimeGraph path query verification
  pkg/unify-query/cmdb/struct.go
  pkg/unify-query/cmdb/v1beta1/error.go
  pkg/unify-query/cmdb/v1beta1/graph.go
  pkg/unify-query/cmdb/v1beta1/node.go
  pkg/unify-query/cmdb/v1beta1/timegraph_query.go
  pkg/unify-query/cmdb/v1beta1/timegraph_test.go
  pkg/unify-query/service/http/api/hook.go
  pkg/unify-query/service/http/api/register.go
  pkg/unify-query/service/http/api/settings.go
  pkg/unify-query/service/http/api/timegraph.go
Due: check-license, gofmt, goimports-reviser

feat(unify-query): add configurable timegraph relation backend
  pkg/unify-query/cmdb/v1beta1/graph.go
  pkg/unify-query/cmdb/v1beta1/node.go
  pkg/unify-query/cmdb/v1beta1/timegraph_query.go
  pkg/unify-query/cmdb/v1beta1/timegraph_test.go
  pkg/unify-query/cmdb/v1beta3/hook.go
  pkg/unify-query/cmdb/v1beta3/relation_backend.go
  pkg/unify-query/cmdb/v1beta3/settings.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend_test.go
  pkg/unify-query/cmdb/v1beta3/v1beta3.go
Due: check-license, gofmt, goimports-reviser

feat(unify-query): preserve relation semantics in timegraph
  pkg/unify-query/cmdb/struct.go
  pkg/unify-query/cmdb/v1beta1/config.go
  pkg/unify-query/cmdb/v1beta1/config_adapter.go
  pkg/unify-query/cmdb/v1beta1/config_adapter_test.go
  pkg/unify-query/cmdb/v1beta1/graph.go
  pkg/unify-query/cmdb/v1beta1/node.go
  pkg/unify-query/cmdb/v1beta1/struct.go
  pkg/unify-query/cmdb/v1beta1/timegraph_query.go
  pkg/unify-query/cmdb/v1beta1/timegraph_test.go
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/cmdb/v1beta3/path.go
  pkg/unify-query/cmdb/v1beta3/schema.go
  pkg/unify-query/cmdb/v1beta3/schema_provider.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend_test.go
  pkg/utils/relation/types.go
Due: check-license, gofmt, goimports-reviser

feat(unify-query): make timegraph the v1beta3 relation path
  pkg/unify-query/cmdb/v1beta3/hook.go
  pkg/unify-query/cmdb/v1beta3/relation_backend.go
  pkg/unify-query/cmdb/v1beta3/settings.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend_test.go
  pkg/unify-query/cmdb/v1beta3/v1beta3.go
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
  pkg/unify-query/service/http/api/api.go
Due: check-license, gofmt, goimports-reviser

feat(unify-query): add timegraph observability
  pkg/unify-query/cmdb/v1beta1/timegraph_query.go
  pkg/unify-query/cmdb/v1beta3/timegraph_backend.go
  pkg/unify-query/cmdb/v1beta3/v1beta3.go
  pkg/unify-query/docs/relation-observability.md
  pkg/unify-query/docs/timegraph-relation-dashboard.json
  pkg/unify-query/docs/timegraph-relation-observability.md
  pkg/unify-query/metric/metric.go
  pkg/unify-query/service/http/api/api.go
Due: check-license, gofmt, goimports-reviser
