Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

chore: 依赖升级
  pkg/transfer/go.mod
  pkg/transfer/go.sum
Due: none

feat: collect es cluster metric task
  pkg/bk-monitor-worker/internal/clustermetrics/es/es.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 依赖升级 --story=117014082 (#293)
  pkg/transfer/consul/interface.go
  pkg/transfer/consul/mock_interface_test.go
  pkg/transfer/go.mod
  pkg/transfer/go.sum
Due: check-license, gofmt, goimports-reviser

feat: collect es cluster metric task
  pkg/bk-monitor-worker/VERSION
Due: none

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/VERSION
Due: none

fix: bmw cmdb ip缓存数据重复 --bug=123011155 (#298)
  pkg/bk-monitor-worker/VERSION
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 支持 kafka sha256/sha516 鉴权
  pkg/transfer/go.mod
  pkg/transfer/go.sum
  pkg/transfer/kafka/frontend.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 支持 kafka sha256/sha516 鉴权 --story=117030806 (#299)
  pkg/transfer/go.mod
  pkg/transfer/go.sum
  pkg/transfer/kafka/frontend.go
Due: check-license, gofmt, goimports-reviser

feat: uitls/libgse 依赖库升级 --story=117015428 (#295)
  pkg/libgse/go.mod
  pkg/libgse/go.sum
  pkg/utils/go.mod
  pkg/utils/go.sum
Due: none

chore: 依赖升级
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: none

feat: collector 依赖升级 --story=117014425 (#294)
  pkg/collector/VERSION
  pkg/collector/control.sh
  pkg/collector/example/otmetrics/go.mod
  pkg/collector/example/otmetrics/go.sum
  pkg/collector/example/ottraces/go.mod
  pkg/collector/example/ottraces/go.sum
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/example/prompushgateway/go.mod
  pkg/collector/example/prompushgateway/go.sum
  pkg/collector/example/skywalking/go.mod
  pkg/collector/example/skywalking/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: check-license

feat: operator 依赖升级 --story=117015596 (#297)
  pkg/operator/go.mod
  pkg/operator/go.sum
Due: none

chore: 依赖升级
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/sliwebhook/go.mod
  pkg/sliwebhook/go.sum
Due: none

feat: 增加查询 size 打点 #1010158081117024637
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/daemon.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/prometheus.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/metrics_processor.go
  pkg/bk-monitor-worker/internal/metadata/models/resulttable/qs_resulttable_custom.go
  pkg/bk-monitor-worker/script/diff/util/validate.go
  pkg/unify-query/curl/curl.go
  pkg/unify-query/influxdb/client/client.go
  pkg/unify-query/influxdb/decoder/factory.go
  pkg/unify-query/influxdb/decoder/json.go
  pkg/unify-query/influxdb/decoder/msgpack.go
  pkg/unify-query/influxdb/decoder/response_test.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/tsdb/bksql/client.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询 size 打点 #1010158081117024637
  pkg/unify-query/curl/curl.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询 size 打点 #1010158081117024637
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/daemon.go
  pkg/unify-query/tsdb/bksql/client.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 sli 功能 --story=116623719 (#264)
  Makefile
  pkg/operator/common/k8sutils/client.go
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/dataidwatcher/metrics.go
  pkg/operator/operator/dataidwatcher/watcher.go
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/discover/metrics.go
  pkg/operator/operator/hook.go
  pkg/operator/operator/metrics.go
  pkg/operator/operator/objectsref/metrics.go
  pkg/operator/operator/objectsref/workload.go
  pkg/operator/operator/operator.go
  pkg/operator/operator/promsli/hook.go
  pkg/operator/operator/promsli/promsli.go
  pkg/operator/operator/promsli/promsli_test.go
  pkg/operator/operator/secret.go
  pkg/operator/operator/server.go
  pkg/operator/reloader/hook.go
  pkg/sliwebhook/Dockerfile
  pkg/sliwebhook/Makefile
  pkg/sliwebhook/README.md
  pkg/sliwebhook/VERSION
  pkg/sliwebhook/config.go
  pkg/sliwebhook/go.mod
  pkg/sliwebhook/go.sum
  pkg/sliwebhook/main.go
  pkg/sliwebhook/server.go
  pkg/sliwebhook/sliwebhook.yaml
  pkg/sliwebhook/utils.go
  pkg/sliwebhook/utils_test.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器 prom 拉取支持 params 配置 --story=117002925 (#292)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/httpclient.go
Due: check-license, gofmt, goimports-reviser

feat: collect es cluster metric task
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/go.sum
  pkg/bk-monitor-worker/internal/clustermetrics/es/es.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器依赖升级 --story=117015547 (#296)
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
Due: none

feat: collect es cluster metric task (#303)
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/go.sum
  pkg/bk-monitor-worker/internal/clustermetrics/es/es.go
Due: check-license, gofmt, goimports-reviser

chore: bmw 依赖升级
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/script/diff/go.mod
  pkg/bk-monitor-worker/script/diff/go.sum
Due: none

feat: bmw 依赖升级 --story=117052016 (#304)
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/script/diff/go.mod
  pkg/bk-monitor-worker/script/diff/go.sum
Due: none

chore: influxdb-proxy 依赖升级
  pkg/influxdb-proxy/go.mod
  pkg/influxdb-proxy/go.sum
Due: none

docs: 更新任务模块版本
  pkg/bk-monitor-worker/VERSION
Due: none

docs: 更新任务模块版本 --story=117052817 (#306)
  pkg/bk-monitor-worker/VERSION
Due: none

feat: influxdb-proxy 依赖升级 --story=117052478 (#305)
  pkg/influxdb-proxy/go.mod
  pkg/influxdb-proxy/go.sum
Due: none

chore: offline-data-archive 依赖升级
  pkg/offline-data-archive/go.mod
  pkg/offline-data-archive/go.sum
Due: none

feat: influxdb-proxy/offline-data-archive 依赖升级 --story=117053314 (#307)
  pkg/influxdb-proxy/go.mod
  pkg/influxdb-proxy/go.sum
  pkg/offline-data-archive/go.mod
  pkg/offline-data-archive/go.sum
Due: none

feat: 增加查询 size 打点 #1010158081117024637
  pkg/unify-query/curl/curl.go
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/influxdb/decoder/msgpack.go
Due: check-license, gofmt, goimports-reviser

feat:增加influxdb探活功能 (#275)
  pkg/influxdb-proxy/go.mod
  pkg/influxdb-proxy/go.sum
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/influxdb/influxdb_router.go
  pkg/unify-query/influxdb/influxdb_router_test.go
  pkg/unify-query/service/influxdb/hook.go
  pkg/unify-query/service/influxdb/service.go
  pkg/unify-query/service/influxdb/settings.go
  pkg/unify-query/unify-query.yaml
  pkg/utils/router/influxdb/influxdb.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器扩展 static 任务采集
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/configs/staticconfig.go
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/tasks/static/utils.go
  pkg/bkmonitorbeat/tasks/static/utils_unix.go
  pkg/bkmonitorbeat/tasks/static/utils_windows.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/cmdb/v1beta1/v1beta1_test.go
Due: check-license, gofmt, goimports-reviser

feat: collector remotewrite 支持从 basicauth 中读取 token
  pkg/collector/VERSION
  pkg/collector/define/record.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询 size 打点 #1010158081117024637
  pkg/unify-query/curl/curl.go
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
Due: check-license, gofmt, goimports-reviser
