Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ pre-commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: sh scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

fix(alarmd): stop sending a fingerprint the reader would otherwise compute
  pkg/alarmd/config/config.go
  pkg/alarmd/config/legacy_output.go
  pkg/alarmd/kafka/legacy_converter_test.go
  pkg/alarmd/legacyoutput/converter.go
  pkg/alarmd/legacyoutput/converter_test.go
Due: check-license, gofmt, goimports-reviser

alarmd: name the failure on the object page instead of one shared reason code
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/handler_test.go
  pkg/alarmd/fleet/tracker.go
  pkg/alarmd/fleet/tracker_test.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/view.go
Due: check-license, gofmt, goimports-reviser

ci(linkd): 支持原生双架构镜像及 Chart 发布
  pkg/linkd/.dockerignore
  pkg/linkd/.gitignore
  pkg/linkd/Dockerfile
  pkg/linkd/Makefile
  pkg/linkd/console/Dockerfile
  pkg/linkd/docs/guides/README.md
  pkg/linkd/docs/guides/ci-release.md
  pkg/linkd/scripts/ci-release.sh
  pkg/linkd/scripts/prepare-release-chart.cjs
  pkg/linkd/scripts/test-prepare-release-chart.cjs
  pkg/linkd/scripts/test_ci_release.py
Due: check-license

ci(linkd): 支持原生双架构镜像及 Chart 发布 (#1477)
  pkg/linkd/.dockerignore
  pkg/linkd/.gitignore
  pkg/linkd/Dockerfile
  pkg/linkd/Makefile
  pkg/linkd/console/Dockerfile
  pkg/linkd/docs/guides/README.md
  pkg/linkd/docs/guides/ci-release.md
  pkg/linkd/scripts/ci-release.sh
  pkg/linkd/scripts/prepare-release-chart.cjs
  pkg/linkd/scripts/test-prepare-release-chart.cjs
  pkg/linkd/scripts/test_ci_release.py
Due: check-license

alarmd: separate the objects that are stuck from the ones that are merely degraded
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/handler_test.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/view.go
  pkg/alarmd/fleet/window_test.go
Due: check-license, gofmt, goimports-reviser

chore(linkd): 默认构建 amd64 和 arm64 镜像
  .github/workflows/linkd-images.yml
  pkg/linkd/docs/guides/image-release.md
Due: none

fix(linkd): 修正 Console 镜像依赖裁剪参数
  pkg/linkd/console/Dockerfile
Due: none

feat(linkd): 支持 Console 运行时子路径部署
  pkg/linkd/console/README.md
  pkg/linkd/console/index.html
  pkg/linkd/console/playwright.auth.config.ts
  pkg/linkd/console/src/server/app.test.ts
  pkg/linkd/console/src/server/app.ts
  pkg/linkd/console/src/server/config.ts
  pkg/linkd/console/src/server/web.test.ts
  pkg/linkd/console/src/server/web.ts
  pkg/linkd/console/src/shared/base-path.test.ts
  pkg/linkd/console/src/shared/base-path.ts
  pkg/linkd/console/src/web/api.ts
  pkg/linkd/console/src/web/base-path.test.tsx
  pkg/linkd/console/src/web/base-path.ts
  pkg/linkd/console/src/web/main.tsx
  pkg/linkd/console/src/web/pages/EventSourcesPage.tsx
  pkg/linkd/console/src/web/pages/RedisPage.tsx
  pkg/linkd/console/tests/auth/basic-auth.spec.ts
  pkg/linkd/console/vite.config.ts
  pkg/linkd/deploy/helm/linkd/examples/console-subpath.yaml
  pkg/linkd/deploy/helm/linkd/templates/NOTES.txt
  pkg/linkd/deploy/helm/linkd/templates/deployment.yaml
  pkg/linkd/deploy/helm/linkd/templates/ingress.yaml
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.schema.json
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/helm.md
Due: none

feat(alarmd): evaluate a series only inside its strategy's monitoring target
  pkg/alarmd/access/admission.go
  pkg/alarmd/access/admission_test.go
  pkg/alarmd/access/source.go
  pkg/alarmd/access/source_test.go
  pkg/alarmd/admission/chain.go
  pkg/alarmd/admission/contract_scope.go
  pkg/alarmd/admission/identity_fuller.go
  pkg/alarmd/admission/target_scope.go
  pkg/alarmd/admission/target_scope_test.go
  pkg/alarmd/cmdbcache/fuller.go
  pkg/alarmd/cmdbcache/index.go
  pkg/alarmd/cmdbcache/index_test.go
  pkg/alarmd/cmdbcache/store.go
  pkg/alarmd/cmdbcache/stub_cmdable_test.go
  pkg/alarmd/contract/target_scope.go
  pkg/alarmd/contract/v2_model.go
  pkg/alarmd/controlplane/catalog.go
  pkg/alarmd/controlplane/target_scope_compiler.go
  pkg/alarmd/controlplane/target_scope_compiler_test.go
  pkg/alarmd/metric/admission.go
  pkg/alarmd/metric/metrics_test.go
  pkg/alarmd/metric/phase_two.go
  pkg/alarmd/strategy/compiler.go
  pkg/alarmd/strategy/types.go
Due: check-license, gofmt, goimports-reviser

feat(alarmd): install the monitoring-target filter on the query path
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/cmd/alarmd/runtime_series_admission.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 使用各架构 manifest 校验镜像版本
  .github/workflows/linkd-images.yml
Due: none

fix(alarmd): a rejected monitoring target must drop the plan, not retain the old one
  pkg/alarmd/controlplane/catalog.go
  pkg/alarmd/controlplane/target_scope_compiler.go
  pkg/alarmd/controlplane/target_scope_compiler_test.go
Due: check-license, gofmt, goimports-reviser

fix(linkd): 完善 0.1.1 Chart 默认配置及部署示例
  pkg/linkd/console/README.md
  pkg/linkd/console/src/server/app.test.ts
  pkg/linkd/console/src/server/web.test.ts
  pkg/linkd/console/src/shared/base-path.test.ts
  pkg/linkd/console/src/web/base-path.test.tsx
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/examples/console-subpath.yaml
  pkg/linkd/deploy/helm/linkd/templates/_helpers.tpl
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/guides/image-release.md
Due: none

fix(linkd): 修复 Console 镜像依赖裁剪参数
  pkg/linkd/console/Dockerfile
  pkg/linkd/docs/guides/ci-release.md
Due: none

fix(linkd): 修复 Console 镜像依赖裁剪参数 (#1478)
  pkg/linkd/console/Dockerfile
  pkg/linkd/docs/guides/ci-release.md
Due: none

feat(linkd): 支持独立 eventgen 镜像与 Helm 多实例部署
  .github/workflows/linkd-images.yml
  pkg/linkd/Dockerfile.eventgen
  pkg/linkd/Makefile
  pkg/linkd/cmd/linkd-eventgen/main.go
  pkg/linkd/cmd/linkd-eventgen/main_test.go
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/examples/eventgen-config.yaml
  pkg/linkd/deploy/helm/linkd/examples/eventgen.yaml
  pkg/linkd/deploy/helm/linkd/templates/NOTES.txt
  pkg/linkd/deploy/helm/linkd/templates/_helpers.tpl
  pkg/linkd/deploy/helm/linkd/templates/eventgen.yaml
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.schema.json
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/event-generator.md
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/guides/image-release.md
  pkg/linkd/scripts/test-image-workflow.cjs
Due: check-license, gofmt, goimports-reviser

fix(linkd): 按仓库版本独立打包 Chart
  pkg/linkd/Makefile
  pkg/linkd/docs/guides/ci-release.md
  pkg/linkd/scripts/ci-release.sh
  pkg/linkd/scripts/prepare-release-chart.cjs
  pkg/linkd/scripts/test-prepare-release-chart.cjs
  pkg/linkd/scripts/test-release-chart.cjs
  pkg/linkd/scripts/test_ci_release.py
Due: check-license

feat(linkd): 支持 eventgen 直连 Kafka 推送
  .github/workflows/linkd-images.yml
  pkg/linkd/Makefile
  pkg/linkd/cmd/linkd-eventgen/main.go
  pkg/linkd/cmd/linkd-eventgen/main_test.go
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/examples/eventgen-direct.yaml
  pkg/linkd/deploy/helm/linkd/templates/eventgen.yaml
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.schema.json
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/event-generator.md
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/guides/image-release.md
  pkg/linkd/scripts/test-image-workflow.cjs
Due: check-license, gofmt, goimports-reviser

fix(linkd): 兼容 Elasticsearch 7.10 至 9.x 并校验查询完整性
  pkg/linkd/console/src/server/elasticsearch.integration.test.ts
  pkg/linkd/console/src/server/elasticsearch.test.ts
  pkg/linkd/console/src/server/elasticsearch.ts
  pkg/linkd/docs/guides/README.md
  pkg/linkd/docs/guides/console.md
  pkg/linkd/docs/guides/elasticsearch-compatibility.md
  pkg/linkd/docs/research/2026-09-09-elasticsearch-version-compatibility.md
  pkg/linkd/docs/research/README.md
  pkg/linkd/internal/eventsource/storage/storage.go
  pkg/linkd/internal/eventsource/storage/storage_test.go
  pkg/linkd/internal/lifecycle/enrich/datasources/onemodel_client.go
  pkg/linkd/internal/lifecycle/enrich/datasources/onemodel_client_test.go
  pkg/linkd/internal/lifecycle/enrich/datasources/onemodel_integration_test.go
  pkg/linkd/internal/store/elasticsearch/alert_log.go
  pkg/linkd/internal/store/elasticsearch/codec.go
  pkg/linkd/internal/store/elasticsearch/cursor.go
  pkg/linkd/internal/store/elasticsearch/event.go
  pkg/linkd/internal/store/elasticsearch/integration_test.go
  pkg/linkd/internal/store/elasticsearch/repository.go
  pkg/linkd/internal/store/elasticsearch/repository_test.go
  pkg/linkd/internal/store/elasticsearch/search.go
  pkg/linkd/scripts/test-elasticsearch-compatibility.sh
Due: check-license, gofmt, goimports-reviser

chore(linkd): 发布 Linkd 与 Console 0.1.3
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/image-release.md
Due: none

docs(linkd): 补充 Redis 与 Elasticsearch 部署版本要求
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/docs/guides/configuration.md
  pkg/linkd/docs/guides/helm.md
Due: none

fix(linkd): 使用完整来源配置查询 Kafka 状态
  pkg/linkd/console/src/server/app.ts
  pkg/linkd/console/src/server/config.ts
  pkg/linkd/console/src/server/kafka-runtime.test.ts
  pkg/linkd/console/src/server/kafka.test.ts
  pkg/linkd/console/src/server/kafka.ts
  pkg/linkd/console/src/server/source-runtime.test.ts
  pkg/linkd/console/src/server/source-runtime.ts
  pkg/linkd/console/src/server/sources.test.ts
  pkg/linkd/console/src/shared/contracts.ts
  pkg/linkd/console/src/web/pages/CleanerPage.tsx
  pkg/linkd/docs/design/event-source-dynamic-configuration.md
  pkg/linkd/docs/guides/console.md
  pkg/linkd/internal/taskdispatch/http.go
  pkg/linkd/internal/taskdispatch/http_test.go
Due: check-license, gofmt, goimports-reviser

chore(linkd): 发布 Linkd 与 Console 0.1.4
  pkg/linkd/deploy/helm/linkd/Chart.yaml
  pkg/linkd/deploy/helm/linkd/README.md
  pkg/linkd/deploy/helm/linkd/tests/chart.test.mjs
  pkg/linkd/deploy/helm/linkd/values.yaml
  pkg/linkd/docs/guides/helm.md
  pkg/linkd/docs/guides/image-release.md
Due: none

chore(linkd): 优化三个镜像的依赖与编译缓存
  pkg/linkd/Dockerfile
  pkg/linkd/Dockerfile.eventgen
  pkg/linkd/README.md
  pkg/linkd/console/Dockerfile
Due: none

fix(alarmd): a filtered series must leave the completion it was counted in
  pkg/alarmd/access/admission_completion_test.go
  pkg/alarmd/access/admission_test.go
  pkg/alarmd/access/source.go
  pkg/alarmd/access/source_test.go
Due: check-license, gofmt, goimports-reviser

test(alarmd): pin that a catalog seen only once is not published
  pkg/alarmd/controlplane/source_confirmation_test.go
Due: check-license, gofmt, goimports-reviser

fix(alarmd): a deferred slot must say it is waiting, not report an unknown fault
  pkg/alarmd/contract/v2_model.go
  pkg/alarmd/contract/v2_reason.go
  pkg/alarmd/worker/coordinator.go
  pkg/alarmd/worker/coordinator_test.go
Due: check-license, gofmt, goimports-reviser

alarmd: export the deployment judgment so the host alerts on it instead of recomputing it
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet_verdict_test.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/metric/fleet.go
  pkg/alarmd/metric/fleet_test.go
  pkg/alarmd/metric/metrics.go
Due: check-license, gofmt, goimports-reviser

alarmd: draw the judgment over time from the query client the pipeline already uses
  pkg/alarmd/access/uq/promql.go
  pkg/alarmd/access/uq/promql_test.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_bundle.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet.go
  pkg/alarmd/config/phase_two_runtime.go
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/handler_test.go
  pkg/alarmd/fleet/series.go
  pkg/alarmd/fleet/series_test.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/fleet/view.go
  pkg/alarmd/fleet/window_test.go
Due: check-license, gofmt, goimports-reviser

fix(bkmonitorbeat): 修复 CPU 累计计数回退导致的使用率 100% 误报
  pkg/bkmonitorbeat/tasks/basereport/collector/cpu.go
  pkg/bkmonitorbeat/tasks/basereport/collector/cpu_stat_unix.go
  pkg/bkmonitorbeat/tasks/basereport/collector/cpu_stat_unix_test.go
Due: check-license, gofmt, goimports-reviser

feat(alarmd): drop a series whose host the platform marks as not monitored
  pkg/alarmd/admission/chain.go
  pkg/alarmd/admission/host_status.go
  pkg/alarmd/admission/host_status_test.go
  pkg/alarmd/admission/identity_fuller.go
  pkg/alarmd/cmd/alarmd/runtime_series_admission.go
  pkg/alarmd/cmd/alarmd/runtime_series_admission_test.go
  pkg/alarmd/cmdbcache/fuller.go
  pkg/alarmd/config/phase_two_runtime.go
  pkg/alarmd/metric/admission.go
  pkg/alarmd/metric/metrics_test.go
  pkg/alarmd/metric/phase_two.go
Due: check-license, gofmt, goimports-reviser

perf(alarmd): derive one state mutation digest per series, not one per contract check
  pkg/alarmd/evaluation/evaluator.go
  pkg/alarmd/execution/state_contract.go
  pkg/alarmd/execution/state_mutation_digest_memo.go
  pkg/alarmd/execution/state_mutation_digest_memo_internal_test.go
Due: check-license, gofmt, goimports-reviser

alarmd: close the metric label set and say what each number does not mean
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_fleet_verdict_test.go
  pkg/alarmd/fleet/bounded.go
  pkg/alarmd/fleet/ui/index.html
  pkg/alarmd/metric/fleet.go
Due: check-license, gofmt, goimports-reviser

perf(alarmd): stop canonicalizing a string that is already canonical
  pkg/alarmd/contract/v2_canonical.go
  pkg/alarmd/contract/v2_canonical_string_test.go
  pkg/alarmd/state/execution_v2_identity.go
  pkg/alarmd/state/execution_v2_identity_memo_test.go
Due: check-license, gofmt, goimports-reviser

perf(alarmd): compile a due Plan once, not once per Slot
  pkg/alarmd/controlplane/redis_runtime.go
  pkg/alarmd/controlplane/slot_compiled_plan.go
  pkg/alarmd/controlplane/slot_compiled_plan_test.go
Due: check-license, gofmt, goimports-reviser

alarmd: one source for the denominator, and a stalled count a filter cannot hide
  pkg/alarmd/fleet/handler.go
  pkg/alarmd/fleet/handler_test.go
  pkg/alarmd/fleet/series.go
  pkg/alarmd/fleet/series_test.go
  pkg/alarmd/fleet/ui/index.html
Due: check-license, gofmt, goimports-reviser

perf(alarmd): read a series digest without copying the identity that holds it
  pkg/alarmd/detect/named_input.go
  pkg/alarmd/evaluation/evaluator.go
  pkg/alarmd/execution/dataset.go
  pkg/alarmd/execution/dataset_digest_test.go
  pkg/alarmd/execution/model.go
  pkg/alarmd/execution/named_input_request.go
  pkg/alarmd/execution/result_contract.go
  pkg/alarmd/execution/stream_contract.go
  pkg/alarmd/worker/stream_session.go
Due: check-license, gofmt, goimports-reviser

fix(alarmd): the host status filter must read the platform's own spellings only
  pkg/alarmd/admission/host_status_test.go
  pkg/alarmd/admission/identity_fuller.go
Due: check-license, gofmt, goimports-reviser

perf(alarmd): keep the dispatcher's ordered view of owned Query Groups
  pkg/alarmd/cmd/alarmd/runtime_phase_two.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_scheduled_runners_test.go
  pkg/alarmd/cmd/alarmd/runtime_phase_two_test.go
Due: check-license, gofmt, goimports-reviser

perf(alarmd): send the state write script once per batch, not once per write
  pkg/alarmd/state/redis_backend.go
  pkg/alarmd/state/redis_backend_script_test.go
  pkg/alarmd/worker/effective_time.go
Due: check-license, gofmt, goimports-reviser
