Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

chore: 细节调整
  pkg/collector/internal/random/rand.go
  pkg/collector/internal/random/random_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/internal/labelstore/labelstore.go
Due: check-license, gofmt, goimports-reviser

feat: 移除 tracestore leveldb 实现 --story=119921351 (#568)
  pkg/collector/controller/controller.go
  pkg/collector/example/example.yml
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/collector/internal/labelstore/labelstore.go
  pkg/collector/internal/random/rand.go
  pkg/collector/internal/random/random_test.go
  pkg/collector/internal/tracestore/tracestore.go
  pkg/collector/internal/tracestore/tracestore_test.go
  pkg/collector/processor/sampler/queue/queue.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

feat: operator 新增 /pods API
  pkg/operator/operator/objectsref/relation.go
  pkg/operator/operator/server.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/operator/operator/server.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 influxdb 跨 tableid 计算问题 #1010158081119798764
  pkg/unify-query/service/trace/service.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/VERSION
  pkg/collector/sidecar/secret.go
  pkg/operator/operator/promsli/promsli.go
  pkg/operator/operator/scrpae_test.go
  pkg/operator/operator/secret.go
  pkg/operator/reloader/reloader.go
  pkg/utils/gzip/gzip.go
  pkg/utils/gzip/gzip_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/sidecar/secret_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/control.sh
  pkg/collector/sidecar/secret_test.go
  pkg/collector/sidecar/sidecar.go
Due: check-license, gofmt, goimports-reviser

feat: promql 支持 es 特殊字符转义 #1010158081119925003
  pkg/unify-query/metadata/prom_data.go
  pkg/unify-query/metadata/prom_data_test.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

feat: promql 支持 es 特殊字符转义 #1010158081119925003
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 influxdb 跨 tableid 计算问题 --story=119798764 (#554)
  pkg/unify-query/metadata/query_reference.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/promql.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/service/trace/hook.go
  pkg/unify-query/service/trace/service.go
  pkg/unify-query/service/trace/settings.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/influxdb/seiesSet.go
  pkg/unify-query/tsdb/influxdb/struct.go
Due: check-license, gofmt, goimports-reviser

feat: promql 支持 es 特殊字符转义 --story=119925003 (#569)
  pkg/unify-query/metadata/prom_data.go
  pkg/unify-query/metadata/prom_data_test.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

feat: 补充 bk_data_id 相关信息到 apm 的应用配置模版
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Due: none

chore: collector pkg 路径调整
  pkg/collector/controller/controller.go
  pkg/collector/internal/cleaner/cleaner.go
  pkg/collector/internal/cleaner/cleaner_test.go
  pkg/collector/processor/forwarder/batchspliter/spliter.go
  pkg/collector/processor/forwarder/batchspliter/spliter_test.go
  pkg/collector/processor/forwarder/client.go
  pkg/collector/processor/licensechecker/factory.go
  pkg/collector/processor/licensechecker/factory_test.go
  pkg/collector/processor/licensechecker/licensestore/cacher.go
  pkg/collector/processor/licensechecker/licensestore/cacher_test.go
  pkg/collector/processor/licensechecker/licensestore/localcacher.go
  pkg/collector/processor/licensechecker/licensestore/localcacher_test.go
  pkg/collector/processor/ratelimiter/factory.go
  pkg/collector/processor/ratelimiter/factory_test.go
  pkg/collector/processor/ratelimiter/throttle/ratelimiter.go
  pkg/collector/processor/ratelimiter/throttle/ratelimiter_test.go
  pkg/collector/processor/sampler/evaluator/statuscode.go
  pkg/collector/processor/sampler/queue/queue.go
  pkg/collector/processor/sampler/tracestore/tracestore.go
  pkg/collector/processor/sampler/tracestore/tracestore_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/extractor.go
  pkg/collector/processor/tracesderiver/labelstore/labelstore.go
  pkg/collector/processor/tracesderiver/labelstore/labelstore_test.go
  pkg/collector/processor/tracesderiver/serieslimiter/filter.go
  pkg/collector/processor/tracesderiver/serieslimiter/limiter.go
  pkg/collector/processor/tracesderiver/serieslimiter/limiter_test.go
  pkg/collector/processor/tracesderiver/serieslimiter/recorder.go
Due: check-license, gofmt, goimports-reviser

feat: collector 移除特权配置生成逻辑 --story=119854858 (#560)
  pkg/collector/VERSION
  pkg/collector/control.sh
  pkg/collector/define/record.go
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/processor/tokenchecker/decoder_test.go
  pkg/collector/processor/tokenchecker/doc.go
  pkg/collector/sidecar/dataid.go
  pkg/collector/sidecar/dataid_test.go
  pkg/collector/sidecar/privileged.go
  pkg/collector/sidecar/secret.go
  pkg/collector/sidecar/secret_test.go
  pkg/collector/sidecar/sidecar.go
  pkg/collector/sidecar/sidecar_test.go
  pkg/operator/operator/promsli/promsli.go
  pkg/operator/operator/scrpae_test.go
  pkg/operator/operator/secret.go
  pkg/operator/reloader/reloader.go
  pkg/utils/gzip/gzip.go
  pkg/utils/gzip/gzip_test.go
Due: check-license, gofmt, goimports-reviser

feat: 补充 bk_data_id 相关信息到 apm 的应用配置模版 (#570)
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Due: none

chore: 测试修复
  pkg/collector/processor/forwarder/batchspliter/spliter_test.go
Due: check-license, gofmt, goimports-reviser

chore: 采集器调整拨测 labels 模板
  pkg/bkmonitorbeat/script/generate_support_files/write_http_conf_tpl.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_tcp_conf_tpl.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_udp_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_udp.conf.tpl
Due: check-license

feat: 采集器调整拨测 labels 模板 --story=119960947 (#572)
  pkg/bkmonitorbeat/script/generate_support_files/write_http_conf_tpl.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_tcp_conf_tpl.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_udp_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_udp.conf.tpl
Due: check-license

feat: collector pkg 路径调整 --story=119940308 (#571)
  pkg/collector/controller/controller.go
  pkg/collector/internal/cleaner/cleaner.go
  pkg/collector/internal/cleaner/cleaner_test.go
  pkg/collector/processor/forwarder/batchspliter/spliter.go
  pkg/collector/processor/forwarder/batchspliter/spliter_test.go
  pkg/collector/processor/forwarder/client.go
  pkg/collector/processor/licensechecker/factory.go
  pkg/collector/processor/licensechecker/factory_test.go
  pkg/collector/processor/licensechecker/licensestore/cacher.go
  pkg/collector/processor/licensechecker/licensestore/cacher_test.go
  pkg/collector/processor/licensechecker/licensestore/localcacher.go
  pkg/collector/processor/licensechecker/licensestore/localcacher_test.go
  pkg/collector/processor/ratelimiter/factory.go
  pkg/collector/processor/ratelimiter/factory_test.go
  pkg/collector/processor/ratelimiter/throttle/ratelimiter.go
  pkg/collector/processor/ratelimiter/throttle/ratelimiter_test.go
  pkg/collector/processor/sampler/evaluator/statuscode.go
  pkg/collector/processor/sampler/queue/queue.go
  pkg/collector/processor/sampler/tracestore/tracestore.go
  pkg/collector/processor/sampler/tracestore/tracestore_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/extractor.go
  pkg/collector/processor/tracesderiver/labelstore/labelstore.go
  pkg/collector/processor/tracesderiver/labelstore/labelstore_test.go
  pkg/collector/processor/tracesderiver/serieslimiter/filter.go
  pkg/collector/processor/tracesderiver/serieslimiter/limiter.go
  pkg/collector/processor/tracesderiver/serieslimiter/limiter_test.go
  pkg/collector/processor/tracesderiver/serieslimiter/recorder.go
Due: check-license, gofmt, goimports-reviser

feat: operator 清理弃用 service
  pkg/operator/configs/configs.go
  pkg/operator/operator/kubelet.go
  pkg/operator/operator/kubelet_test.go
Due: check-license, gofmt, goimports-reviser

feat: operator 清理弃用 service
  pkg/operator/operator/kubelet.go
Due: check-license, gofmt, goimports-reviser

feat: operator 清理弃用 service --story=119963449 (#573)
  pkg/operator/configs/configs.go
  pkg/operator/operator/kubelet.go
  pkg/operator/operator/kubelet_test.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器自定义进程采模板调整 --story=119426209 (#508)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_proccustom_conf_tpl.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/monitor_process.conf.tpl
Due: check-license

feat: unifyquery 优化 label_values 查询方式 #1010158081119913295
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/curl/curl.go
  pkg/unify-query/influxdb/client/client.go
  pkg/unify-query/influxdb/influxdb_router.go
  pkg/unify-query/influxdb/instance.go
  pkg/unify-query/query/promql/utils.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/info.go
  pkg/unify-query/service/http/label_values.go
  pkg/unify-query/service/http/promql_query.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/service/http/tsquery.go
  pkg/unify-query/trace/trace.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Due: check-license, gofmt, goimports-reviser

minor: collector 平台配置模版的 token_checker 处理器新增 dataid 相关字段
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

minor: 修改 collector 平台配置 与 应用配置 模版
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

minor: collector 平台配置模版的 token_checker 处理器新增 dataid 相关字段 (#575)
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

fix: 修复预计算重新启动时出现空指针 #1010158081131931293
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/distributive.go
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 dimscache 特性
  pkg/collector/example/example.yml
  pkg/collector/example/serviceinfo/go.mod
  pkg/collector/example/serviceinfo/main.go
  pkg/collector/internal/dimscache/cache.go
  pkg/collector/internal/dimscache/cache_test.go
  pkg/collector/processor/licensechecker/factory.go
  pkg/collector/processor/licensechecker/factory_test.go
  pkg/collector/processor/licensechecker/licensecache/cache.go
  pkg/collector/processor/licensechecker/licensecache/cache_test.go
  pkg/collector/processor/licensechecker/licensecache/manager.go
  pkg/collector/processor/licensechecker/licensecache/manager_test.go
  pkg/collector/processor/licensechecker/licensestore/cacher.go
  pkg/collector/processor/resourcefilter/config.go
  pkg/collector/processor/resourcefilter/factory.go
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Due: check-license, gofmt, goimports-reviser

fix: 修复预计算重新启动时出现空指针 --bug=131931293 (#576)
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/distributive.go
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 dimscache 特性
  pkg/collector/processor/licensechecker/factory.go
  pkg/collector/processor/licensechecker/licensecache/manager_test.go
  pkg/collector/processor/tokenchecker/decoder_test.go
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 dimscache 特性
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: none

feat: collector 支持 dimscache 特性
  pkg/collector/VERSION
  pkg/collector/processor/resourcefilter/config.go
  pkg/collector/processor/resourcefilter/dimscache/cache.go
  pkg/collector/processor/resourcefilter/dimscache/cache_test.go
  pkg/collector/processor/resourcefilter/factory.go
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 dimscache 特性
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

chore: 调整独立集群配置
  pkg/collector/processor/resourcefilter/factory.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
