Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

feat: APM 预计算增加关联指标导出 && 过滤器内存优化 --story=116865389 (#283)
  pkg/bk-monitor-worker/config/apm_config.go
  pkg/bk-monitor-worker/config/config.go
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/go.sum
  pkg/bk-monitor-worker/http/utils_test.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/builder.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/core/types.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/bloom.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/cache.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/es.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/prometheus.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/storage.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/distributive.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/graph.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/metrics_processor.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/processor.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/window.go
  pkg/bk-monitor-worker/internal/example/example.go
  pkg/bk-monitor-worker/metrics/apm.go
  pkg/bk-monitor-worker/script/diff/go.mod
  pkg/bk-monitor-worker/script/diff/go.sum
  pkg/bk-monitor-worker/service/worker_service.go
  pkg/bk-monitor-worker/store/redis/redis.go
  pkg/bk-monitor-worker/utils/timex/timex.go
Due: check-license, gofmt, goimports-reviser

fix:修复过滤host失效的问题
  pkg/unify-query/influxdb/influxdb_router.go
Due: check-license, gofmt, goimports-reviser

feat: tracederiver accumulator support series grownth rate
  pkg/collector/confengine/engine.go
  pkg/collector/confengine/engine_test.go
  pkg/collector/define/subconfig.go
  pkg/collector/example/fixtures/main.yml
  pkg/collector/example/fixtures/privileged.yml
  pkg/collector/pipeline/manager.go
  pkg/collector/pipeline/manager_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator_test.go
  pkg/collector/processor/tracesderiver/config.go
Due: check-license, gofmt, goimports-reviser

feature:新增influxdb ping 功能
  pkg/unify-query/influxdb/influxdb_router.go
  pkg/unify-query/service/influxdb/hook.go
  pkg/unify-query/service/influxdb/service.go
  pkg/unify-query/service/influxdb/settings.go
  pkg/unify-query/unify-query.yaml
  pkg/utils/router/influxdb/influxdb.go
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 series 新增限流
  pkg/collector/confengine/engine.go
  pkg/collector/confengine/engine_test.go
  pkg/collector/define/subconfig.go
  pkg/collector/example/fixtures/main.yml
  pkg/collector/example/fixtures/privileged.yml
  pkg/collector/pipeline/manager.go
  pkg/collector/pipeline/manager_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator_test.go
  pkg/collector/processor/tracesderiver/config.go
Due: check-license, gofmt, goimports-reviser

test:补充测试内容
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/influxdb/influxdb_router_test.go
Due: check-license, gofmt, goimports-reviser

minor: Prometheus Remote Write 接收方式的 Token 获取支持从 TenantID 字段提取
  pkg/collector/VERSION
  pkg/collector/define/record.go
  pkg/collector/receiver/pushgateway/http.go
  pkg/collector/receiver/remotewrite/http.go
Due: check-license, gofmt, goimports-reviser

feat: 合并bmw分支到master
  pkg/influxdb-proxy/go.mod
  pkg/influxdb-proxy/go.sum
  pkg/libgse/go.mod
  pkg/libgse/go.sum
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/cmdb/v1beta1/v1beta1_test.go
  pkg/unify-query/mock/mock.go
Due: check-license, gofmt, goimports-reviser

feat: 合并bmw分支到master
  pkg/influxdb-proxy/go.sum
Due: none

minor: Prometheus Remote Write 接收方式的 Token 获取支持从 TenantID 字段提取 (#287)
  pkg/collector/VERSION
  pkg/collector/define/record.go
  pkg/collector/receiver/pushgateway/http.go
  pkg/collector/receiver/remotewrite/http.go
Due: check-license, gofmt, goimports-reviser

feat: collector 统一 token 获取方式
  pkg/collector/confengine/engine.go
  pkg/collector/confengine/engine_test.go
  pkg/collector/define/record.go
  pkg/collector/pipeline/manager_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/receiver/otlp/grpc.go
  pkg/collector/receiver/pushgateway/http.go
  pkg/collector/receiver/remotewrite/http.go
Due: check-license, gofmt, goimports-reviser

feat: collector 统一 token 获取方式 --story=116939257 (#288)
  pkg/collector/confengine/engine.go
  pkg/collector/confengine/engine_test.go
  pkg/collector/define/record.go
  pkg/collector/pipeline/manager_test.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/receiver/otlp/grpc.go
  pkg/collector/receiver/pushgateway/http.go
  pkg/collector/receiver/remotewrite/http.go
Due: check-license, gofmt, goimports-reviser

fix: 优化预计算内存占用
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/kafka.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/es.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/processor.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/window.go
Due: check-license, gofmt, goimports-reviser

fix: 优化预计算内存占用 --bug=122785267 (#289)
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/kafka.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/es.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/processor.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/window.go
Due: check-license, gofmt, goimports-reviser

fix: 更新版本号
  pkg/bk-monitor-worker/VERSION
Due: none

Fix/memory usage/#1010158081122785267 1 (#290)
  pkg/bk-monitor-worker/VERSION
Due: none

feat: vm 查询双引号转义 #1010158081116955826
  pkg/unify-query/metadata/reference_test.go
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/condition_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加指标来源打点以及 bksql 内置 time 字段修改 #1010158081116901502
  pkg/unify-query/service/http/api/response.go
  pkg/unify-query/service/http/es.go
  pkg/unify-query/service/http/response.go
Due: check-license, gofmt, goimports-reviser

feat: 增加指标来源打点以及 bksql 内置 time 字段修改 #1010158081116901502
  pkg/unify-query/metric/metric.go
  pkg/unify-query/metric/space.go
  pkg/unify-query/service/http/api/response.go
Due: check-license, gofmt, goimports-reviser

feat: 增加 kafka qps 限流
  pkg/bk-monitor-worker/internal/apm/pre_calculate/builder.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/kafka.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/notifier.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/ratelimiter.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/es.go
  pkg/bk-monitor-worker/metrics/apm.go
Due: check-license, gofmt, goimports-reviser

fix: goimport
  pkg/bk-monitor-worker/internal/apm/pre_calculate/notifier/kafka.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 时间戳特性扩展 --story=116774257 (#274)
  pkg/transfer/config/metadata_options.go
  pkg/transfer/define/time_factory.go
  pkg/transfer/etl/field.go
  pkg/transfer/etl/transformer.go
  pkg/transfer/go.mod
  pkg/transfer/template/etl/formatter/handler_test.go
  pkg/transfer/template/etl/plugin.go
  pkg/transfer/template/etl/plugin_test.go
  pkg/transfer/template/etl/standard/standard_test.go
  pkg/transfer/types/timestamp.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/transfer/define/time_factory.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 支持动态注册时间处理函数 --story=116882431 (#281)
  pkg/transfer/config/metadata_options.go
  pkg/transfer/define/time_factory.go
  pkg/transfer/etl/transformer.go
Due: check-license, gofmt, goimports-reviser

feat: vm 查询双引号转义 --story=116955826 (#291)
  pkg/unify-query/metadata/reference_test.go
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/condition_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加指标来源打点以及 bksql 内置 time 字段修改 --story=116901502 (#282)
  pkg/unify-query/metric/metric.go
  pkg/unify-query/metric/space.go
  pkg/unify-query/service/http/api/response.go
  pkg/unify-query/service/http/es.go
  pkg/unify-query/service/http/middleware/timer.go
  pkg/unify-query/service/http/response.go
  pkg/unify-query/tsdb/bksql/struct.go
Due: check-license, gofmt, goimports-reviser

feature:新增influxdb ping 功能 (#286)
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/influxdb/influxdb_router.go
  pkg/unify-query/influxdb/influxdb_router_test.go
  pkg/unify-query/service/influxdb/hook.go
  pkg/unify-query/service/influxdb/service.go
  pkg/unify-query/service/influxdb/settings.go
  pkg/unify-query/unify-query.yaml
  pkg/utils/router/influxdb/influxdb.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器 prom 拉取支持 params 配置
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/httpclient.go
Due: check-license, gofmt, goimports-reviser

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: 避免host ip记录重复的信息
  pkg/bk-monitor-worker/VERSION
Due: none

chore: transfer 版本依赖升级
  pkg/transfer/consul/interface.go
  pkg/transfer/consul/mock_interface_test.go
  pkg/transfer/go.mod
  pkg/transfer/go.sum
Due: check-license, gofmt, goimports-reviser

chore: collector 版本依赖升级
  pkg/collector/VERSION
  pkg/collector/control.sh
  pkg/collector/example/otmetrics/go.mod
  pkg/collector/example/otmetrics/go.sum
  pkg/collector/example/ottraces/go.mod
  pkg/collector/example/ottraces/go.sum
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/example/prompushgateway/go.mod
  pkg/collector/example/prompushgateway/go.sum
  pkg/collector/example/skywalking/go.mod
  pkg/collector/example/skywalking/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: check-license

chore: collector 版本依赖升级
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: none

chore: libgse/utils 依赖升级
  pkg/libgse/go.mod
  pkg/libgse/go.sum
  pkg/utils/go.mod
  pkg/utils/go.sum
Due: none

chore: 采集器依赖升级
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
Due: none

chore: operator 依赖升级
  pkg/operator/go.mod
  pkg/operator/go.sum
Due: none

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/daemon.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/storage/prometheus.go
  pkg/bk-monitor-worker/internal/apm/pre_calculate/window/metrics_processor.go
  pkg/bk-monitor-worker/script/diff/util/validate.go
  pkg/unify-query/consul/tsdb.go
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/pool/pool.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/space.go
  pkg/unify-query/segmented/section.go
  pkg/unify-query/segmented/segmented.go
  pkg/unify-query/service/tsdb/hook.go
  pkg/unify-query/service/tsdb/service.go
  pkg/unify-query/service/tsdb/settings.go
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
  pkg/unify-query/tsdb/elasticsearch/factory.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/functions.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/elasticsearch/instance_test.go
  pkg/unify-query/tsdb/elasticsearch/query_struct.go
  pkg/unify-query/tsdb/elasticsearch/segmented.go
  pkg/unify-query/tsdb/elasticsearch/segmented_test.go
  pkg/unify-query/tsdb/elasticsearch/setting.go
  pkg/unify-query/tsdb/prometheus/querier.go
  pkg/unify-query/tsdb/storage.go
  pkg/unify-query/tsdb/struct.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/trace/trace.go
  pkg/unify-query/tsdb/elasticsearch/factory.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
