Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

feat: transfer cmdb api调用从esb切换到apigw #1010158081123525819
  pkg/transfer/esb/cc.go
Due: check-license, gofmt, goimports-reviser

feat: transfer cmdb api调用从esb切换到apigw --story=123525819 (#739)
  pkg/transfer/esb/cc.go
  pkg/transfer/esb/cc_test.go
  pkg/transfer/esb/client.go
  pkg/transfer/esb/client_test.go
  pkg/transfer/esb/hook.go
Due: check-license, gofmt, goimports-reviser

feat: 日志查询支持doris #1010158081121933504
  pkg/unify-query/query/structured/query_ts.go
Due: check-license, gofmt, goimports-reviser

feat: api 查询增加日志输出 #1010158081123650893
  pkg/unify-query/service/http/api.go
Due: check-license, gofmt, goimports-reviser

feat: api 查询增加日志输出 --story=123650893 (#743)
  pkg/unify-query/service/http/api.go
Due: check-license, gofmt, goimports-reviser

chore: 代码优化
  pkg/bkmonitorbeat/tasks/dmesg/gather.go
Due: check-license, gofmt, goimports-reviser

chore: 代码优化
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

chore: 细节优化
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

chore: 细节优化
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

feat: bmw cmdb api调用从esb切换到apigw --story=123548445 (#741)
  pkg/bk-monitor-worker/config/config.go
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/business.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch_test.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/dynamic_group.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/module.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/set.go
  pkg/bk-monitor-worker/internal/api/client.go
  pkg/bk-monitor-worker/internal/api/cmdb/cmdb.go
  pkg/bk-monitor-worker/internal/api/cmdb/cmdb_test.go
  pkg/bk-monitor-worker/internal/metadata/apiservice/cmdb.go
  pkg/bk-monitor-worker/internal/metadata/service/customreportsubscription.go
  pkg/bk-monitor-worker/internal/metadata/service/space.go
Due: check-license, gofmt, goimports-reviser

chore: 细节优化
  pkg/bkmonitorbeat/configs/dmesg.go
  pkg/bkmonitorbeat/configs/timesync.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持按机器规格调整资源限制
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

feat: 非时间聚合接口排序问题修改 #1010158081123667928
  pkg/unify-query/internal/function/merge_series.go
  pkg/unify-query/internal/function/merge_series_test.go
  pkg/unify-query/internal/function/samples.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/prometheus/querier.go
Due: check-license, gofmt, goimports-reviser

chore: 版本更新
  pkg/bkmonitorbeat/VERSION
Due: none

feat: 非时间聚合接口排序问题修改 --story=123667928 (#745)
  pkg/unify-query/internal/function/merge_series.go
  pkg/unify-query/internal/function/merge_series_test.go
  pkg/unify-query/internal/function/samples.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/prometheus/querier.go
Due: check-license, gofmt, goimports-reviser

fix: transfer cmdb环境请求路径错误问题 #1010158081141704296
  pkg/transfer/esb/cc.go
Due: check-license, gofmt, goimports-reviser

fix: transfer cmdb环境请求路径错误问题 --bug=141704296 (#746)
  pkg/transfer/esb/cc.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持按机器规格调整资源限制 --story=123669746 (#744)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

chore: 日志级别调整
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

chore: 细节调整
  pkg/operator/configs/configs.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/operator/operator/target/timesync.go
Due: check-license, gofmt, goimports-reviser

feat: 日志查询支持doris #1010158081121933504
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/bksql/sqlExpr/base.go
  pkg/unify-query/tsdb/bksql/sqlExpr/doris.go
Due: check-license, gofmt, goimports-reviser

feat: 日志查询支持doris #1010158081121933504
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/bksql/instance_test.go
Due: check-license, gofmt, goimports-reviser

feat: RESULT_TABLE_DETAIL补充storage_type --story=
  pkg/bk-monitor-worker/internal/metadata/models/storage/clusterinfo.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/qs_clusterinfo_gen.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser

feat: collector 调整默序列化并发数
  pkg/collector/VERSION
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-k8s-main
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: none

feat: 日志查询支持doris #1010158081121933504
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/bksql/sqlExpr/base.go
  pkg/unify-query/tsdb/bksql/sqlExpr/base_test.go
  pkg/unify-query/tsdb/bksql/sqlExpr/doris.go
  pkg/unify-query/tsdb/bksql/sqlExpr/doris_test.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器进程采集新增 process_username 维度
  pkg/bkmonitorbeat/tasks/proccustom/gather.go
  pkg/bkmonitorbeat/tasks/proccustom/perf.go
  pkg/bkmonitorbeat/tasks/proccustom/port.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器进程采集新增 process_username 维度 --story=123731258 (#749)
  pkg/bkmonitorbeat/tasks/proccustom/gather.go
  pkg/bkmonitorbeat/tasks/proccustom/perf.go
  pkg/bkmonitorbeat/tasks/proccustom/port.go
Due: check-license, gofmt, goimports-reviser

feat: collector 调整默认序列化并发数 --story=123725302 (#748)
  pkg/collector/VERSION
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-k8s-main
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: none

feat: collector 优化服务启动顺序问题
  pkg/collector/exporter/converter/beat.go
  pkg/collector/exporter/converter/converter.go
  pkg/collector/exporter/converter/logs.go
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/exporter/converter/proxy.go
  pkg/collector/exporter/converter/pushgateway.go
  pkg/collector/exporter/converter/remotewrite.go
  pkg/collector/exporter/converter/tars.go
Due: check-license, gofmt, goimports-reviser

feat: collector 优化服务启动顺序问题
  pkg/collector/VERSION
  pkg/collector/controller/controller.go
Due: check-license, gofmt, goimports-reviser

feat: collector 优化服务启动顺序问题
  pkg/collector/confengine/engine.go
  pkg/collector/confengine/engine_test.go
  pkg/collector/pipeline/manager.go
Due: check-license, gofmt, goimports-reviser

feat: collector 优化服务启动顺序问题
  pkg/collector/confengine/engine_test.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 relation query 输出结果为空的情况 #1010158081123777545
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 relation query 输出结果为空的情况 #1010158081123777545
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/service/http/api/api.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 relation query 输出结果为空的情况 #1010158081123777545
  pkg/unify-query/cmdb/struct.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 relation query 输出结果为空的情况 --story=123777545 (#751)
  pkg/unify-query/cmdb/struct.go
  pkg/unify-query/service/http/api/api.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
