Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

feat: collector 支持 logbeat 路由
  pkg/collector/VERSION
  pkg/collector/controller/register.go
  pkg/collector/define/record.go
  pkg/collector/example/example.yml
  pkg/collector/example/logbeat/go.mod
  pkg/collector/example/logbeat/main.go
  pkg/collector/exporter/converter/converter.go
  pkg/collector/exporter/converter/logbeat.go
  pkg/collector/exporter/converter/logbeat_test.go
  pkg/collector/exporter/queue/batch.go
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/processor/tokenchecker/decoder_test.go
  pkg/collector/receiver/admin.go
  pkg/collector/receiver/config.go
  pkg/collector/receiver/logbeat/http.go
  pkg/collector/receiver/logbeat/http_test.go
  pkg/collector/receiver/receiver.go
  pkg/collector/receiver/router.go
Due: check-license, gofmt, goimports-reviser

chore: 文档更新
  pkg/collector/README.md
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: none

chore: 文档更新
  pkg/collector/define/record.go
Due: check-license, gofmt, goimports-reviser

chore: 文档更新
  pkg/collector/exporter/converter/logbeat.go
Due: check-license, gofmt, goimports-reviser

fix: module缓存刷新调用api报错未记录日志
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/module.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/set.go
Due: check-license, gofmt, goimports-reviser

chore: libgse 支持 logpush output
  pkg/libgse/beat/beat.go
  pkg/libgse/output/gse/gse.go
  pkg/libgse/output/logpush/logpush.go
  pkg/libgse/output/otlp/config.go
  pkg/libgse/output/otlp/data.go
  pkg/libgse/output/otlp/otlp.go
  pkg/libgse/output/otlp/otlp_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/libgse/output/logpush/logpush.go
Due: check-license, gofmt, goimports-reviser

chore go mod tidy
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/libgse/go.mod
  pkg/libgse/go.sum
  pkg/operator/go.mod
  pkg/operator/go.sum
Due: none

chore: 补充主机刷新调用日志
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: cmdb主机刷新并发冲突
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: bmw cmdb缓存任务缺少部分数据 --bug=125665825 (#372)
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/module.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/set.go
Due: check-license, gofmt, goimports-reviser

chore: 配置模板更新
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

chore: 版本更新
  pkg/bkmonitorbeat/VERSION
Due: none

chore: 模板更新
  pkg/bkmonitorbeat/script/generate_support_files/write_project_yaml.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/x86/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/windows/x86/project.yaml
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/project.yaml
Due: check-license

feat: 修复指标重新启用场景的路由问题
  pkg/bk-monitor-worker/internal/metadata/service/timeseriesmetric.go
Due: check-license, gofmt, goimports-reviser

fix: 修复时间判断问题 --bug=125700681 (#375)
  pkg/bk-monitor-worker/internal/metadata/service/timeseriesmetric.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/curl/mock.go
  pkg/unify-query/metadata/query_reference.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/query/promql/ctx.go
  pkg/unify-query/query/promql/utils.go
  pkg/unify-query/query/structured/method.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/handler_test.go
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/format_test.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
  pkg/unify-query/tsdb/elasticsearch/instance_test.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/influxdb/instance_test.go
  pkg/unify-query/tsdb/interfaces.go
  pkg/unify-query/tsdb/offlineDataArchive/instance.go
  pkg/unify-query/tsdb/prometheus/functions.go
  pkg/unify-query/tsdb/prometheus/instance.go
  pkg/unify-query/tsdb/prometheus/instance_test.go
  pkg/unify-query/tsdb/prometheus/querier.go
  pkg/unify-query/tsdb/prometheus/query.go
  pkg/unify-query/tsdb/redis/config.go
  pkg/unify-query/tsdb/redis/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/tsdb/bksql/instance.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

fix: 修复指标发现路由更新路径问题
  pkg/bk-monitor-worker/config/metadata_config.go
Due: check-license, gofmt, goimports-reviser

fix: 修复指标部分没有更新问题 --bug=125745401 (#376)
  pkg/bk-monitor-worker/config/metadata_config.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/query/structured/query_ts.go
Due: check-license, gofmt, goimports-reviser

bugfix: 调整 icmp labels 模板 (#121)
  pkg/bkmonitorbeat/script/generate_support_files/write_icmp_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_icmp.conf.tpl
Due: check-license

feat: exceptionbeat 任务配置支持 CoreFilePattern 不带换行符 (#122)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/tasks/exceptionbeat/collector/corefile/utils_unix.go
  pkg/bkmonitorbeat/tasks/exceptionbeat/collector/corefile/utils_unix_test.go
Due: check-license, gofmt, goimports-reviser

feature: collector 聚合指标支持时间戳按分钟对齐 (#120)
  pkg/collector/VERSION
  pkg/collector/example/example.yml
  pkg/collector/exporter/converter/metrics.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator_test.go
  pkg/collector/processor/tracesderiver/config.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

feature: 修改开始时间的对齐方式，支持 timezone 参数 (#124)
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/handler.go
Due: check-license, gofmt, goimports-reviser

feat: add bk_apm_duration_delta config in platform template config (#125)
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

bugfix: operator pod relation 指标新增 namespace 维度 (#126)
  pkg/operator/operator/objectsref/relation.go
Due: check-license, gofmt, goimports-reviser

feature: 兼容 timezone 为空的状态 (#127)
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/handler.go
Due: check-license, gofmt, goimports-reviser

bugfix: 修复 kubeevent 任务监听不生效问题 (#128)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/tasks/kubeevent/gather.go
Due: check-license, gofmt, goimports-reviser

feature: add swagger doc (#129)
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/swagger/swagger.json
Due: check-license, gofmt, goimports-reviser

merge:merge commit cfeab46b1d1261dce0457efaacf855cb528f0cba into 3.8.x
  pkg/unify-query/cmdb/cmdb.go
  pkg/unify-query/cmdb/matcher.go
  pkg/unify-query/cmdb/struct.go
  pkg/unify-query/cmdb/v1beta1/config.go
  pkg/unify-query/cmdb/v1beta1/struct.go
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/cmdb/v1beta1/v1beta1_test.go
  pkg/unify-query/curl/mock.go
  pkg/unify-query/docs/api/relation.md
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/service/http/api/api.go
  pkg/unify-query/service/http/api/hook.go
  pkg/unify-query/service/http/api/register.go
  pkg/unify-query/service/http/api/settings.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/tsdb/influxdb/instance.go
  pkg/unify-query/tsdb/interfaces.go
  pkg/unify-query/tsdb/offlineDataArchive/instance.go
  pkg/unify-query/tsdb/prometheus/instance.go
  pkg/unify-query/tsdb/victoriaMetrics/instance.go
  pkg/unify-query/tsdb/victoriaMetricsInstance/instance.go
Due: check-license, gofmt, goimports-reviser

bugfix: gse2 在未获取到IP时，默认使用主机身份文件的IP (#131)
  pkg/libgse/output/gse/config.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
