Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

tests: 补充单元测试
  pkg/collector/processor/pprofconverter/converter_test.go
  pkg/collector/processor/pprofconverter/factory_test.go
  pkg/collector/processor/pprofconverter/jfr/jfr_labels.pb.go
  pkg/collector/processor/pprofconverter/jfr/jfr_labels_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询校验接口 #1010158081116308311
  pkg/unify-query/service/http/api/api.go
  pkg/unify-query/service/http/api/response.go
  pkg/unify-query/service/http/check_handler.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/hook.go
  pkg/unify-query/service/http/register_urls.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/service/http/settings.go
Due: check-license, gofmt, goimports-reviser

feat: update swagger api #1010158081116308311
  pkg/unify-query/Makefile
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
  pkg/unify-query/go.mod
  pkg/unify-query/main.go
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/api/api.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/info.go
  pkg/unify-query/service/http/register_urls.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/swagger/swagger.go
  pkg/unify-query/swagger/swagger.json
  pkg/unify-query/swagger/swagger.yaml
Due: check-license, gofmt, goimports-reviser

feat: 增加查询校验接口 #1010158081116308311
  pkg/unify-query/service/http/check_handler.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询校验接口 #1010158081116308311
  pkg/unify-query/service/http/hook.go
Due: check-license, gofmt, goimports-reviser

chore: pprof PR 代码细节调整
  pkg/collector/controller/register.go
  pkg/collector/define/processor.go
  pkg/collector/example/parsepprof/main.go
  pkg/collector/processor/pproftranslator/builder/builder.go
  pkg/collector/processor/pproftranslator/builder/builder_test.go
  pkg/collector/processor/pproftranslator/config.go
  pkg/collector/processor/pproftranslator/doc.go
  pkg/collector/processor/pproftranslator/factory.go
  pkg/collector/processor/pproftranslator/factory_test.go
  pkg/collector/processor/pproftranslator/jfr/jfr_labels.pb.go
  pkg/collector/processor/pproftranslator/jfr/jfr_labels.proto
  pkg/collector/processor/pproftranslator/jfr/jfr_labels_test.go
  pkg/collector/processor/pproftranslator/jfr/pprof.go
  pkg/collector/processor/pproftranslator/jfr/pprof_test.go
  pkg/collector/processor/pproftranslator/jfr/symbols.go
  pkg/collector/processor/pproftranslator/jfr/symbols_test.go
  pkg/collector/processor/pproftranslator/jfr/translator.go
  pkg/collector/processor/pproftranslator/jfr/translator_test.go
  pkg/collector/processor/pproftranslator/jfr/utils.go
  pkg/collector/processor/pproftranslator/jfr/utils_test.go
  pkg/collector/processor/pproftranslator/models/labels.go
  pkg/collector/processor/pproftranslator/models/labels_cache.go
  pkg/collector/processor/pproftranslator/models/labels_test.go
  pkg/collector/processor/pproftranslator/testdata/jfr_cortex-dev-01__kafka-0__cpu_lock_alloc__0.jfr.gz
  pkg/collector/processor/pproftranslator/testdata/jfr_dump1.labels.pb.gz
  pkg/collector/processor/pproftranslator/testdata/pprof_memory_cpu_intensive_proj_cpu-file.gz
  pkg/collector/processor/pproftranslator/translator.go
  pkg/collector/processor/pproftranslator/translator_test.go
  pkg/collector/receiver/pyroscope/http.go
  pkg/collector/receiver/pyroscope/http_test.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

chore: pprof PR 代码细节调整
  pkg/collector/processor/pproftranslator/factory.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/processor/pproftranslator/factory.go
  pkg/collector/processor/pproftranslator/jfr/translator.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/processor/pproftranslator/jfr/translator_test.go
  pkg/collector/processor/pproftranslator/translator_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/README.md
  pkg/collector/processor/pproftranslator/translator_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/processor/pproftranslator/factory.go
  pkg/collector/processor/pproftranslator/factory_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/example/parsepprof/main.go
Due: check-license, gofmt, goimports-reviser

feat: 增加查询校验接口 --story=116308311 (#222)
  pkg/unify-query/Makefile
  pkg/unify-query/docs/docs.go
  pkg/unify-query/docs/swagger.json
  pkg/unify-query/docs/swagger.yaml
  pkg/unify-query/go.mod
  pkg/unify-query/main.go
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/api/api.go
  pkg/unify-query/service/http/api/response.go
  pkg/unify-query/service/http/check_handler.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/hook.go
  pkg/unify-query/service/http/info.go
  pkg/unify-query/service/http/register_urls.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/service/http/settings.go
  pkg/unify-query/swagger/swagger.go
  pkg/unify-query/swagger/swagger.json
  pkg/unify-query/swagger/swagger.yaml
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 dropsampler --story=116232497 (#208)
  pkg/collector/processor/sampler/doc.go
  pkg/collector/processor/sampler/evaluator/always_test.go
  pkg/collector/processor/sampler/evaluator/drop.go
  pkg/collector/processor/sampler/evaluator/drop_test.go
  pkg/collector/processor/sampler/evaluator/evaluator.go
  pkg/collector/processor/sampler/evaluator/random.go
  pkg/collector/processor/sampler/evaluator/random_test.go
  pkg/collector/processor/sampler/evaluator/statuscode.go
  pkg/collector/processor/sampler/evaluator/statuscode_test.go
  pkg/collector/processor/sampler/factory.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

feat: add test
  pkg/bk-monitor-worker/internal/metadata/service/bkdatastorage_test.go
  pkg/bk-monitor-worker/internal/metadata/service/timeseriesgroup_test.go
Due: check-license, gofmt, goimports-reviser

chore: 调整 step.request 字段
  pkg/bkmonitorbeat/script/generate_support_files/write_http_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_http.conf.tpl
Due: check-license

chore: replace BCSPod
  pkg/bk-monitor-worker/internal/api/bcsstorage/bcs_storage.go
  pkg/bk-monitor-worker/internal/api/client.go
  pkg/bk-monitor-worker/internal/api/define/response.go
  pkg/bk-monitor-worker/internal/api/metadata/metadata.go
  pkg/bk-monitor-worker/internal/metadata/apiservice/bcs_storage.go
  pkg/bk-monitor-worker/internal/metadata/apiservice/constants.go
  pkg/bk-monitor-worker/internal/metadata/service/bcsclusterinfo.go
  pkg/bk-monitor-worker/internal/metadata/service/bcsclusterinfo_test.go
Due: check-license, gofmt, goimports-reviser

chore: replace BCSPod
  pkg/bk-monitor-worker/internal/metadata/models/bcs/bcslabel.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/bcspod.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/bcspodlabels.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/common.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/qs_bcslabel_gen.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/qs_bcspod_gen.go
  pkg/bk-monitor-worker/internal/metadata/models/bcs/qs_bcspodlabels_gen.go
Due: check-license, gofmt, goimports-reviser

style: make imports
  pkg/bk-monitor-worker/metrics/metadata.go
  pkg/bk-monitor-worker/store/redis/redis.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持 corefile pattern 定制化配置 --story=116309113 (#221)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_project_yaml.sh
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/project.yaml
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/project.yaml
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/project.yaml
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/project.yaml
Due: check-license

feat: 采集器兼容 http form-data 字段转义
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_http_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_http.conf.tpl
Due: check-license

fix: 修改 pprof 转换器命名的配置
  pkg/collector/example/example.yml
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-example
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector.conf
Due: none

fix: 转换 dropsampler 到 pprof 配置上
  pkg/collector/example/example.yml
Due: none

feat: collector 增加 drop_sampler 模板 --story=116237226 (#209)
  pkg/collector/example/example.yml
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-example
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector.conf
Due: none

feat: 采集器兼容 http form-data 字段转义
  pkg/bkmonitorbeat/script/generate_support_files/write_http_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_http.conf.tpl
Due: check-license

fix: 修改drop_sampler 模板 --story=116237226
  pkg/collector/processor/sampler/doc.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

fix: 修改 drop_sampler 模板 --story=116237226 (#225)
  pkg/collector/processor/sampler/doc.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: check-license, gofmt, goimports-reviser

chore: pr fix
  pkg/bk-monitor-worker/internal/api/bkdata/params.go
  pkg/bk-monitor-worker/internal/metadata/apiservice/bkdata.go
  pkg/bk-monitor-worker/internal/metadata/dataflow/base.go
  pkg/bk-monitor-worker/internal/metadata/dataflow/flow.go
  pkg/bk-monitor-worker/internal/metadata/models/common_test.go
  pkg/bk-monitor-worker/internal/metadata/service/bkdatastorage.go
  pkg/bk-monitor-worker/metrics/metadata.go
  pkg/bk-monitor-worker/store/redis/redis.go
Due: check-license, gofmt, goimports-reviser

chore: pr fix
  pkg/bk-monitor-worker/internal/metadata/dataflow/constants.go
  pkg/bk-monitor-worker/internal/metadata/dataflow/node_processor.go
  pkg/bk-monitor-worker/internal/metadata/dataflow/task_cmdblevel.go
Due: check-license, gofmt, goimports-reviser

perf: 优化获取consul实例方法 #116368599
  pkg/bk-monitor-worker/store/consul/consul.go
Due: check-license, gofmt, goimports-reviser

feat: 优化获取consul实例方法 --story=116368599 (#226)
  pkg/bk-monitor-worker/store/consul/consul.go
Due: check-license, gofmt, goimports-reviser

chore: 新增 darwin 模板
  pkg/bkmonitorbeat/script/generate_support_files.sh
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_http.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_icmp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_keyword.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_prometheus_remote.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_snmptrap.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_tcp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/bkmonitorbeat_udp.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/etc/monitor_process.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/darwin/x86_64/project.yaml
Due: check-license

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
