Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

feat: 修复 es 查询返回值 json 转义的问题 #1010158081118247575
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 es 查询返回值 json 转义的问题 --story=118247575 (#407)
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

feat: 清理过期的空间路由
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
  pkg/bk-monitor-worker/store/redis/redis.go
  pkg/bk-monitor-worker/utils/mocker/confest.go
  pkg/bk-monitor-worker/utils/mocker/redis.go
Due: check-license, gofmt, goimports-reviser

feat: 增加 withContext 方法
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder.go
Due: check-license, gofmt, goimports-reviser

feat: 增加 cmdb relation 指标同步 #1010158081118097379
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder.go
Due: check-license, gofmt, goimports-reviser

feat: tapd 模块配置 #1010158081118267115
  .gtmproject.yaml
Due: none

feat: tapd 模块配置 --story=118267115 (#409)
  .gtmproject.yaml
Due: none

feat: es 查询维度值转义处理 #1010158081118276658
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

feat: es 查询维度值转义处理 --story=118276658 (#410)
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

test: 增加fta测试，云监控告警接收规则
  pkg/transfer/template/etl/fta/fta_test.go
Due: check-license, gofmt, goimports-reviser

feat: 针对空间路由key，添加过期时间 --story=118240941 (#408)
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
  pkg/bk-monitor-worker/store/redis/redis.go
  pkg/bk-monitor-worker/utils/mocker/confest.go
  pkg/bk-monitor-worker/utils/mocker/redis.go
Due: check-license, gofmt, goimports-reviser

chore: gomod tidy
  pkg/bk-monitor-worker/script/diff/go.mod
  pkg/bk-monitor-worker/script/diff/go.sum
Due: none

feat: bmw gomod 更新 --story=118306120 (#411)
  pkg/bk-monitor-worker/script/diff/go.mod
  pkg/bk-monitor-worker/script/diff/go.sum
Due: none

chore: 细节调整
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
Due: check-license

feat: es 查询原始数据接口支持 #1010158081118267533
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/route_test.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/service/http/hook.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/http/query_test.go
  pkg/unify-query/service/http/register_urls.go
  pkg/unify-query/service/http/service.go
  pkg/unify-query/service/http/settings.go
  pkg/unify-query/service/http/tsquery_test.go
  pkg/unify-query/tsdb/prometheus/querier.go
Due: check-license, gofmt, goimports-reviser

fix: cmdb主机缓存过滤agent信息未及时清理
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
Due: check-license, gofmt, goimports-reviser

fix: 修复RegexMatch下正则不匹配也会复制const_val的缺陷
  pkg/collector/processor/servicediscover/config.go
  pkg/collector/processor/servicediscover/factory_test.go
Due: check-license, gofmt, goimports-reviser

fix: 修复RegexMatch下正则不匹配也会复制const_val的缺陷
  pkg/collector/VERSION
Due: none

feat: 增加 cmdb relation 指标同步 --story=118097379 (#405)
  pkg/bk-monitor-worker/config/config.go
  pkg/bk-monitor-worker/http/metrics.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/cmdb_watch.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/host.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder_test.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_metrics.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_node.go
  pkg/unify-query/service/http/api_test.go
Due: check-license, gofmt, goimports-reviser

feat: 适配 es 原始数据查询下维度丢失问题
  pkg/unify-query/service/http/query.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持标准化指标名
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/collector.go
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/collector_test.go
  pkg/operator/common/kits/kits.go
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/operator.go
  pkg/operator/operator/target/metric.go
Due: check-license, gofmt, goimports-reviser

chore: 版本更新
  pkg/bkmonitorbeat/VERSION
Due: none

feat: 添加watch接口
  pkg/api-server/Makefile
  pkg/api-server/apis/log/loglevel.go
  pkg/api-server/apis/log/loglevel_test.go
  pkg/api-server/apis/plugincollect/watch.go
  pkg/api-server/apis/plugincollect/watch_test.go
  pkg/api-server/apis/response/response.go
  pkg/api-server/apis/response/response_test.go
  pkg/api-server/config/config.go
  pkg/api-server/go.mod
  pkg/api-server/go.sum
  pkg/api-server/http/http.go
  pkg/api-server/http/middleware.go
  pkg/api-server/http/middleware_test.go
  pkg/api-server/store/redis/redis.go
  pkg/api-server/store/redis/redis_test.go
  pkg/api-server/store/store.go
  pkg/api-server/utils/mocker/redis.go
  pkg/api-server/utils/mocker/redis_test.go
  pkg/api-server/watch/redisWatch.go
Due: check-license, gofmt, goimports-reviser

feat: 添加集群认证信息
  pkg/bk-monitor-worker/common/constants.go
  pkg/bk-monitor-worker/internal/metadata/service/clusterinfo.go
Due: check-license, gofmt, goimports-reviser

feat: 调整kafka集群认证功能 --story=118337320 (#415)
  pkg/bk-monitor-worker/common/constants.go
  pkg/bk-monitor-worker/internal/metadata/service/clusterinfo.go
Due: check-license, gofmt, goimports-reviser

minor: 【collector】临时去掉dockerfile中安装的步骤
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
Due: none

minor: 【collector】临时去掉dockerfile中安装的步骤 (#417)
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
Due: none

perf: 调整仅针对kafka添加认证
  pkg/bk-monitor-worker/internal/metadata/service/clusterinfo.go
Due: check-license, gofmt, goimports-reviser

feat: 调整仅针对kafka添加认证 --story=118345980 (#418)
  pkg/bk-monitor-worker/internal/metadata/service/clusterinfo.go
Due: check-license, gofmt, goimports-reviser

feat: cmdb relation 指标上报重复修改 #1010158081118345147
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder_test.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_metrics.go
Due: check-license, gofmt, goimports-reviser

test: 优化单元测试逻辑
  pkg/collector/processor/servicediscover/factory_test.go
Due: check-license, gofmt, goimports-reviser

feat: cmdb relation 指标上报重复修改 --story=118345147 (#419)
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_builder_test.go
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/relation_metrics.go
Due: check-license, gofmt, goimports-reviser

feat: 修复维度为数字类型的兼容问题 #1010158081118349378
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

feat: 修复维度为数字类型的兼容问题 --story=118349378 (#420)
  pkg/unify-query/tsdb/elasticsearch/agg_format.go
Due: check-license, gofmt, goimports-reviser

Fix service discovery (#412)
  pkg/collector/VERSION
  pkg/collector/processor/servicediscover/config.go
  pkg/collector/processor/servicediscover/factory_test.go
Due: check-license, gofmt, goimports-reviser

chore: 调整fta算子日志级别
  pkg/transfer/template/etl/fta/fta_alert.go
Due: check-license, gofmt, goimports-reviser

feat: fta事件处理流程增加日志 --story=118208265 (#400)
  pkg/transfer/template/etl/fta/fta_alert.go
  pkg/transfer/template/etl/fta/fta_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/bkmonitorbeat/dockerfile/Dockerfile
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
  pkg/collector/internal/testkits/assert.go
  pkg/collector/processor/servicediscover/factory_test.go
  pkg/operator/dockerfile/operator/Dockerfile
  pkg/operator/dockerfile/reloader/Dockerfile
Due: check-license, gofmt, goimports-reviser

feat: operator 支持标准化指标名 --story=118330168 (#413)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/dockerfile/Dockerfile
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/collector.go
  pkg/bkmonitorbeat/tasks/metricbeat/module/prometheus/collector/collector_test.go
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
  pkg/collector/internal/testkits/assert.go
  pkg/collector/processor/servicediscover/factory_test.go
  pkg/operator/common/kits/kits.go
  pkg/operator/dockerfile/operator/Dockerfile
  pkg/operator/dockerfile/reloader/Dockerfile
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/operator.go
  pkg/operator/operator/target/metric.go
Due: check-license, gofmt, goimports-reviser

fix: 修复重启任务时报错
  pkg/bk-monitor-worker/internal/apm/pre_calculate/core/utils.go
  pkg/bk-monitor-worker/service/scheduler/daemon/maintainer.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
