Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

check-license:
  name: check license header
  entry: scripts/pre_commit/check_license.sh
  language: script
  verbose: true

gofmt:
  name: go format files
  entry: scripts/pre_commit/gofmt.sh
  language: script
  verbose: true

goimports-reviser:
  name: go import checks
  entry: scripts/pre_commit/goimport.sh
  language: script
  verbose: true

feat: 添加本地启动文档和接口说明 #1010158081117710200
  pkg/unify-query/README.md
Due: none

feat: 添加promQL学习文档 #1010158081117715533
  pkg/unify-query/docs/promql/promql.md
Due: none

feat: 拆分es采集任务按集群执行异步任务
  pkg/bk-monitor-worker/internal/clustermetrics/es/es.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
  pkg/bkmonitorbeat/tasks/processbeat/process/connection.go
  pkg/bkmonitorbeat/tasks/processbeat/process/netlink_linux.go
  pkg/bkmonitorbeat/tasks/procsnapshot/procs.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/metadata/query_params.go
  pkg/unify-query/service/http/handler.go
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤
  pkg/operator/operator/annotation.go
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

删除文件bkcodeai.json
  bkcodeai.json
Due: none

chore: 新增测试
  pkg/operator/operator/annotation_test.go
  pkg/operator/operator/discover/discover_test.go
Due: check-license, gofmt, goimports-reviser

feat: 添加本地启动文档和接口说明 --story=117710200 (#358)
  pkg/unify-query/README.md
Due: none

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/tsdb/elasticsearch/instance.go
Due: check-license, gofmt, goimports-reviser

perf: 更新集群业务信息
  pkg/bk-monitor-worker/internal/metadata/task/bcs.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/tasks/procsnapshot/event.go
  pkg/bkmonitorbeat/tasks/procsnapshot/gather.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/discover/discover.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

feat: 添加promQL学习文档 #1010158081117715533
  bkcodeai.json
Due: none

feat: operator 支持 annotations selector 过滤
  pkg/operator/operator/annotation.go
  pkg/operator/operator/annotation_test.go
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤
  pkg/operator/operator/discover/discover.go
Due: check-license, gofmt, goimports-reviser

feat: 添加promQL学习文档 --story=117715533 (#359)
  pkg/unify-query/docs/promql/promql.md
Due: none

feat: 拆分es采集任务按集群执行异步任务 (#357)
  pkg/bk-monitor-worker/internal/clustermetrics/es/es.go
  pkg/bk-monitor-worker/internal/clustermetrics/utils.go
  pkg/bk-monitor-worker/internal/metadata/task/async.go
  pkg/bk-monitor-worker/service/scheduler/async.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器 prom 采集支持 relabels 配置 --story=117221182 (#325)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_prometheus_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
Due: check-license

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/beater/taskfactory/shellhistory.go
  pkg/bkmonitorbeat/configs/config.go
  pkg/bkmonitorbeat/configs/shellhistory.go
  pkg/bkmonitorbeat/define/task.go
  pkg/bkmonitorbeat/tasks/procsnapshot/procs.go
  pkg/bkmonitorbeat/tasks/shellhistory/event.go
  pkg/bkmonitorbeat/tasks/shellhistory/gather.go
  pkg/bkmonitorbeat/tasks/shellhistory/passwd.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/beater/taskfactory/shellhistory.go
  pkg/bkmonitorbeat/tasks/shellhistory/gather.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  .gtmproject.yaml
  pkg/bk-monitor-worker/internal/metadata/task/async.go
  pkg/unify-query/metadata/struct.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/segmented/section.go
  pkg/unify-query/tsdb/bksql/instance.go
  pkg/unify-query/tsdb/bksql/instance_test.go
  pkg/unify-query/tsdb/bksql/sql.go
  pkg/unify-query/tsdb/bksql/sql_test.go
  pkg/unify-query/tsdb/bksql/struct.go
  pkg/unify-query/tsdb/elasticsearch/format.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤
  pkg/operator/operator/dataidwatcher/watcher_test.go
  pkg/operator/operator/discover/discover_test.go
  pkg/operator/operator/operator_test.go
Due: check-license, gofmt, goimports-reviser

feat: 查询支持 es 扩展 #1010158081117001596
  pkg/unify-query/tsdb/elasticsearch/format.go
Due: check-license, gofmt, goimports-reviser

feat: 更新集群业务信息 --story=117743295 (#362)
  pkg/bk-monitor-worker/internal/metadata/task/bcs.go
Due: check-license, gofmt, goimports-reviser

fix: 修复超时时间失效问题
  pkg/bk-monitor-worker/broker/redis/redis.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
Due: check-license, gofmt, goimports-reviser

fix: 修复 operator 黑名单匹配不生效的问题
  pkg/operator/operator/operator.go
  pkg/operator/operator/server.go
Due: check-license, gofmt, goimports-reviser

fix: 修复任务超时后，队列中仍然存在的问题 --bug=125039925 (#363)
  pkg/bk-monitor-worker/broker/redis/redis.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
Due: check-license, gofmt, goimports-reviser

fix: 修复 operator 黑名单匹配不生效的问题 --bug=125256565 (#364)
  pkg/operator/operator/operator.go
  pkg/operator/operator/server.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持配置启动端口 --story=117666603 (#356)
  pkg/operator/operator/dataidwatcher/watcher_test.go
  pkg/operator/operator/hook.go
  pkg/operator/operator/server.go
  pkg/operator/operator/target/hook.go
  pkg/operator/operator/target/metric.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 优化日志处理性能
  pkg/transfer/esb/cc.go
  pkg/transfer/etl/transformer.go
  pkg/transfer/template/etl/flat_batch.go
  pkg/transfer/template/etl/formatter/processor.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 annotations selector 过滤 --story=117733563 (#361)
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/discover/discover.go
  pkg/operator/operator/discover/discover_test.go
  pkg/operator/operator/operator.go
  pkg/operator/operator/operator_test.go
Due: check-license, gofmt, goimports-reviser

feat: transfer 优化日志处理性能
  pkg/transfer/utils/convert.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/beater/taskfactory/socketsnapshot.go
  pkg/bkmonitorbeat/configs/config.go
  pkg/bkmonitorbeat/configs/loginlog.go
  pkg/bkmonitorbeat/configs/socketsnapshot.go
  pkg/bkmonitorbeat/define/task.go
  pkg/bkmonitorbeat/tasks/loginlog/gather.go
  pkg/bkmonitorbeat/tasks/procsnapshot/procs.go
  pkg/bkmonitorbeat/tasks/shellhistory/gather.go
  pkg/bkmonitorbeat/tasks/socketsanpshot/event.go
  pkg/bkmonitorbeat/tasks/socketsanpshot/gather.go
  pkg/bkmonitorbeat/tasks/socketsanpshot/socket.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器支持审计采集
  pkg/bkmonitorbeat/tasks/procsnapshot/gather.go
  pkg/bkmonitorbeat/tasks/socketsanpshot/gather.go
Due: check-license, gofmt, goimports-reviser

feat: 新增lttb md 补充unify-query md
  pkg/unify-query/README.md
  pkg/unify-query/docs/lttb/lttb.jpg
  pkg/unify-query/docs/lttb/lttb.md
Due: none

feat: 添加es路由更新 #1010158081117832223
  pkg/bk-monitor-worker/internal/metadata/models/constants.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/esstorage.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/qs_esstorage_gen.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Due: check-license, gofmt, goimports-reviser

Path conditions:
  check-license: any of: (.*\.go|.*\.sh|.*\.py)$
  gofmt: any of: .*\.go$
  goimports-reviser: any of: .*\.go
