Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

feat: 修改 influxdb 拨测模式，支持 gRPC #1010158081118100411
  pkg/unify-query/influxdb/influxdb_router.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 influxdb 拨测模式，支持 gRPC --story=118100411 (#385)
  pkg/unify-query/influxdb/influxdb_router.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 vm 直查语法问题 #1010158081118101483
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/handler.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 vm 直查语法问题 #1010158081118101483
  pkg/unify-query/query/structured/query_ts_test.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 vm 直查语法问题 #1010158081118101483
  pkg/unify-query/query/structured/query_ts.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 vm 直查语法问题 --story=118101483 (#386)
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/handler.go
Due: check-license, gofmt, goimports-reviser

feature:新增influxdb ping 功能 (#286)
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  pkg/unify-query/influxdb/influxdb_router.go
  pkg/unify-query/influxdb/influxdb_router_test.go
  pkg/unify-query/service/influxdb/hook.go
  pkg/unify-query/service/influxdb/service.go
  pkg/unify-query/service/influxdb/settings.go
  pkg/unify-query/unify-query.yaml
  pkg/utils/router/influxdb/influxdb.go
Due: check-license, gofmt, goimports-reviser

feat:unify-query 依赖升级
  pkg/unify-query/go.mod
  pkg/unify-query/go.sum
  scripts/pre_commit/check_commit_message.py
Due: check-license

chore: 优化bmw cmdb缓存错误日志
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 3.8.x 代码检测问题
  pkg/transfer/tools/cmdbtest/insert_cmdb.py
Due: check-license

feat: 修复 3.8.x 代码检测问题
  .gitignore
Due: none

feat: 3.8.x fix (#389)
  .gitignore
  pkg/transfer/tools/cmdbtest/insert_cmdb.py
Due: check-license

Collector sidecar 1 (#1)
  pkg/collector/Makefile
  pkg/collector/VERSION
  pkg/collector/cmd/collector/main.go
  pkg/collector/cmd/sidecar/main.go
  pkg/collector/control.sh
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/processor/tokenchecker/doc.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator_test.go
  pkg/collector/receiver/skywalking/encoder.go
  pkg/collector/sidecar/sidecar.go
  pkg/collector/sidecar/watcher.go
  pkg/collector/sidecar/watcher_test.go
  pkg/unify-query/docs/promql/promql.md
Due: check-license, gofmt, goimports-reviser

feat: collector 支持 sidecar 模式 (#390)
  pkg/collector/Makefile
  pkg/collector/VERSION
  pkg/collector/cmd/collector/main.go
  pkg/collector/cmd/sidecar/main.go
  pkg/collector/control.sh
  pkg/collector/dockerfile/collector/Dockerfile
  pkg/collector/dockerfile/sidecar/Dockerfile
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
  pkg/collector/processor/tokenchecker/decoder.go
  pkg/collector/processor/tokenchecker/doc.go
  pkg/collector/processor/tracesderiver/accumulator/accumulator_test.go
  pkg/collector/receiver/skywalking/encoder.go
  pkg/collector/sidecar/sidecar.go
  pkg/collector/sidecar/watcher.go
  pkg/collector/sidecar/watcher_test.go
  pkg/unify-query/docs/promql/promql.md
Due: check-license, gofmt, goimports-reviser

chore: gomod tidy
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
Due: none

feat: 采集器完善 script 采集错误码 --story=118085965 (#383)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/define/errors.go
  pkg/bkmonitorbeat/tasks/script/formatdata.go
  pkg/bkmonitorbeat/tasks/script/gather.go
Due: check-license, gofmt, goimports-reviser

feat: bkmonitorbeat-gomod --story=118151056 (#391)
  pkg/bkmonitorbeat/go.mod
  pkg/bkmonitorbeat/go.sum
Due: none

feat: 审计采集完善
  pkg/bkmonitorbeat/configs/rpmpackage.go
  pkg/bkmonitorbeat/main.go
  pkg/bkmonitorbeat/script/generate_support_files/write_root_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat.conf.tpl
  pkg/bkmonitorbeat/tasks/loginlog/gather.go
  pkg/bkmonitorbeat/tasks/rpmpackage/gather.go
  pkg/bkmonitorbeat/tasks/rpmpackage/rpm.go
  pkg/bkmonitorbeat/tasks/shellhistory/gather.go
  pkg/bkmonitorbeat/utils/cgroup.go
  pkg/bkmonitorbeat/utils/misc.go
  pkg/bkmonitorbeat/utils/rpm.go
  pkg/utils/logger/logger.go
Due: check-license, gofmt, goimports-reviser

feat: 审计采集完善
  pkg/bkmonitorbeat/utils/cgroup_linux.go
  pkg/bkmonitorbeat/utils/cgroup_others.go
  pkg/bkmonitorbeat/utils/misc.go
Due: check-license, gofmt, goimports-reviser

feat: 处理栈数据过大问题
  pkg/bk-monitor-worker/bmw.yaml.tpl
  pkg/bk-monitor-worker/config/config.go
  pkg/bk-monitor-worker/go.mod
  pkg/bk-monitor-worker/go.sum
  pkg/bk-monitor-worker/internal/metadata/models/common.go
  pkg/bk-monitor-worker/internal/metadata/models/recordrule/qs_rules_gen.go
  pkg/bk-monitor-worker/internal/metadata/models/recordrule/rules.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/qs_esstorage_gen.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/qs_influxdbproxystorage_gen.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
Due: check-license, gofmt, goimports-reviser

feat: 采集器修复 relabel 模板
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_prometheus_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
Due: check-license

feat: 采集器修复 relabel 模板 --story=118165140 (#392)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/script/generate_support_files/write_prometheus_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
Due: check-license

feat: bmw cmdb缓存错误日志优化 --story=118128367 (#388)
  pkg/bk-monitor-worker/internal/alarm/cmdbcache/base.go
Due: check-license, gofmt, goimports-reviser

feat: 修复 collector sidecar 配置生成问题
  pkg/collector/VERSION
  pkg/collector/internal/utils/utils.go
  pkg/collector/sidecar/sidecar.go
  pkg/collector/sidecar/watcher.go
  pkg/collector/sidecar/watcher_test.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/sidecar/watcher.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/collector/sidecar/sidecar.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  .gtmproject.yaml
  pkg/bk-monitor-worker/internal/metadata/task/space.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  pkg/bk-monitor-worker/internal/metadata/task/space.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Due: check-license, gofmt, goimports-reviser

chore: relabel 模板调整
  pkg/bkmonitorbeat/script/generate_support_files/write_prometheus_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
Due: check-license

feat: 调整栈大小
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser

feat: 调整栈大小
  .gtmproject.yaml
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/service/scheduler/periodic/periodic.go
Due: check-license, gofmt, goimports-reviser

feat: 添加日志
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Due: check-license, gofmt, goimports-reviser

feat: 修复map赋值自身，导致循环引用问题
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
Due: check-license, gofmt, goimports-reviser

feat: 去补部分指针
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser
