Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

chore: 单测修复
  pkg/collector/processor/tokenchecker/factory_test.go
  pkg/collector/receiver/router_test.go
Due: check-license, gofmt, goimports-reviser

feat: PromQL 查询 match 参数支持维度校验能力 --story=120985251 (#639)
  pkg/unify-query/query/structured/query_promql.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/http/query_test.go
Due: check-license, gofmt, goimports-reviser

feat: ES关联多空间功能优化，修复空间获取逻辑错误问题，添加更多核对用日志信息 --story=120993470
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
Due: check-license, gofmt, goimports-reviser

feat: bkmonitorbeat 指定用户下执行脚本任务 (#608)
  pkg/bkmonitorbeat/VERSION
  pkg/bkmonitorbeat/configs/scriptconfig.go
  pkg/bkmonitorbeat/script/generate_support_files/write_script_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_script.conf.tpl
  pkg/bkmonitorbeat/tasks/script/gather.go
  pkg/bkmonitorbeat/utils/pipes.go
  pkg/bkmonitorbeat/utils/pipes_unix.go
  pkg/bkmonitorbeat/utils/pipes_windows.go
Due: check-license, gofmt, goimports-reviser

feat: ES关联多空间功能优化，修复空间获取逻辑错误问题，添加更多核对用日志信息 --story=120993470
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser

feat: 空间查询权限校验 #1010158081119887273
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/unify-query/service/http/middleware/jwt.go
Due: check-license, gofmt, goimports-reviser

feat: operator 支持 v3/workload monitor 规则 --story=120911901 (#633)
  pkg/operator/operator/objectsref/controller.go
  pkg/operator/operator/objectsref/relabels.go
  pkg/operator/operator/objectsref/relabels_test.go
  pkg/operator/operator/objectsref/relation.go
  pkg/operator/operator/objectsref/relation_test.go
  pkg/operator/operator/server.go
  pkg/operator/operator/target/metric.go
Due: check-license, gofmt, goimports-reviser

chore: 模板更新
  pkg/collector/internal/utils/map.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/project.yaml
Due: check-license, gofmt, goimports-reviser

feat: ES关联多空间功能优化，修复空间获取逻辑错误问题，添加更多核对用日志信息 --story=120993470 (#640)
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 collector 平台配置，增加 fixed_token，给默认上报APM应用使用
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

feat: 修改 collector 平台配置，增加 fixed_token，给默认上报 APM 应用使用 (#641)
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-platform.conf.tpl
Due: none

chore: 文档更新
  pkg/collector/support-files/templates/linux/x86_64/project.yaml
Due: none

chore: 模板更新
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
Due: none

feat: bkbase 空间查询路由校验 #1010158081121019457
  pkg/bk-monitor-worker/utils/remote/prometheus.go
  pkg/bk-monitor-worker/utils/remote/space_reporter_test.go
  pkg/unify-query/influxdb/router_mock.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/middleware/jwt_test.go
Due: check-license, gofmt, goimports-reviser

feat: 修改 apm 应用配置，增加对 attributes 字段 as_int 和 as_string 的操作
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Due: none

feat: 修改 apm 应用配置，增加对 attributes 字段 as_int 和 as_string 的操作 (#642)
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-application.conf.tpl
Due: none

fix: 修复手动传token时token没有传递问题 #1010158081134869973
  pkg/bk-monitor-worker/utils/remote/prometheus.go
Due: check-license, gofmt, goimports-reviser

feat: bkbase 空间查询路由校验 #1010158081121019457
  pkg/bk-monitor-worker/cmd/controller.go
  pkg/bk-monitor-worker/internal/metadata/models/migrate/migrate.go
  pkg/bk-monitor-worker/internal/metadata/models/space/bkappspacerecord.go
Due: check-license, gofmt, goimports-reviser

fix: 修复手动传token时token没有传递问题 --bug=134869973 (#643)
  pkg/bk-monitor-worker/utils/remote/prometheus.go
Due: check-license, gofmt, goimports-reviser

feat: bkbase 空间查询路由校验 #1010158081121019457
  pkg/unify-query/query/structured/query_ts.go
Due: check-license, gofmt, goimports-reviser

feat: bkbase 空间查询路由校验 #1010158081121019457
  pkg/unify-query/query/structured/query_ts_test.go
Due: check-license, gofmt, goimports-reviser

feat: bkbase 空间查询路由校验 #1010158081121019457
  pkg/unify-query/metric/metric.go
Due: check-license, gofmt, goimports-reviser

feat: collector 新增 middleware 配置能力--story=120986667 (#638)
  pkg/collector/VERSION
  pkg/collector/define/concurrency.go
  pkg/collector/example/example.yml
  pkg/collector/internal/grpcmiddleware/maxbytes.go
  pkg/collector/internal/grpcmiddleware/middleware.go
  pkg/collector/internal/httpmiddleware/compression.go
  pkg/collector/internal/httpmiddleware/cors.go
  pkg/collector/internal/httpmiddleware/logging.go
  pkg/collector/internal/httpmiddleware/maxbytes.go
  pkg/collector/internal/httpmiddleware/maxconns.go
  pkg/collector/internal/httpmiddleware/middleware.go
  pkg/collector/internal/utils/map.go
  pkg/collector/internal/utils/map_test.go
  pkg/collector/processor/tokenchecker/factory_test.go
  pkg/collector/receiver/router_test.go
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-k8s-main
  pkg/collector/support-files/templates/linux/x86_64/etc/bk-collector-main.conf.tpl
  pkg/collector/support-files/templates/linux/x86_64/project.yaml
Due: check-license, gofmt, goimports-reviser

feat: bkbase 空间查询路由校验 --story=121019457 (#644)
  pkg/bk-monitor-worker/cmd/controller.go
  pkg/bk-monitor-worker/internal/metadata/models/migrate/migrate.go
  pkg/bk-monitor-worker/internal/metadata/models/space/bkappspacerecord.go
  pkg/bk-monitor-worker/utils/remote/space_reporter_test.go
  pkg/unify-query/influxdb/router_mock.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/query_ts_test.go
  pkg/unify-query/service/http/middleware/jwt_test.go
Due: check-license, gofmt, goimports-reviser

feat: 新增 cmdb_relation 关联指标 #1010158081121026278
  pkg/unify-query/cmdb/v1beta1/config.go
Due: check-license, gofmt, goimports-reviser

feat: 新增 cmdb_relation 关联指标 --story=121026278 (#645)
  pkg/unify-query/cmdb/v1beta1/config.go
Due: check-license, gofmt, goimports-reviser

chore: bkmonitorbeat 支持 custom_report 模板
  pkg/bkmonitorbeat/script/generate_support_files/write_prometheus_conf_tpl.sh
  pkg/bkmonitorbeat/support-files/templates/freebsd/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/aarch64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/linux/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86/etc/bkmonitorbeat_prometheus.conf.tpl
  pkg/bkmonitorbeat/support-files/templates/windows/x86_64/etc/bkmonitorbeat_prometheus.conf.tpl
Due: check-license

chore: bkmonitorbeat 支持 custom_report 模板
  pkg/bkmonitorbeat/VERSION
Due: none

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/metric/metric.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/service/http/middleware/jwt.go
Due: check-license, gofmt, goimports-reviser

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/service/http/middleware/jwt.go
Due: check-license, gofmt, goimports-reviser

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/query/structured/condition.go
  pkg/unify-query/query/structured/condition_test.go
Due: check-license, gofmt, goimports-reviser

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/cmdb/v1beta1/v1beta1_test.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/query/structured/space.go
Due: check-license, gofmt, goimports-reviser

feat: BMW: 支持查看下线后的历史集群数据，修补RT详情路由，补全集群ID --story=121047235
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis_test.go
Due: check-license, gofmt, goimports-reviser

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/influxdb/spacetsdb_router.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/metadata/router.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/service/http/info.go
  pkg/unify-query/service/tsdb/service.go
Due: check-license, gofmt, goimports-reviser

feat: 指标打点修改 #1010158081121034766
  pkg/unify-query/Makefile
  pkg/unify-query/cmd/config.go
  pkg/unify-query/config/hook.go
  pkg/unify-query/consul/consul.go
  pkg/unify-query/es/alias.go
  pkg/unify-query/es/storage.go
  pkg/unify-query/es/table.go
  pkg/unify-query/influxdb/influxdb.go
  pkg/unify-query/metric/metric.go
  pkg/unify-query/pool/pool.go
  pkg/unify-query/query/structured/join.go
  pkg/unify-query/query/structured/query_ts.go
  pkg/unify-query/redis/router.go
  pkg/unify-query/redis/sotrage.go
  pkg/unify-query/redis/struct.go
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/query.go
  pkg/unify-query/service/redis/redis.go
  pkg/unify-query/tsdb/elasticsearch/format.go
  pkg/unify-query/tsdb/elasticsearch/format_test.go
  pkg/unify-query/tsdb/elasticsearch/query_string.go
  pkg/unify-query/tsdb/prometheus/instance.go
  pkg/unify-query/tsdb/prometheus/querier.go
Due: check-license, gofmt, goimports-reviser

feat: opreator 支持 polarissd 服务发现机制
  pkg/operator/configs/configs.go
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/discover/commonconfigs/httpconfig.go
  pkg/operator/operator/discover/httpsd/http.go
  pkg/operator/operator/discover/polarissd/discovery.go
  pkg/operator/operator/discover/polarissd/polaris.go
  pkg/operator/operator/operator.go
  pkg/operator/operator/promsd.go
Due: check-license, gofmt, goimports-reviser
