Repository TencentBlueKing/bkmonitor-datalink: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, gofmt, goimports-reviser

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ commit ]
default_install_hook_types: [ pre-commit, commit-msg, pre-push ]
repos:
  - repo: local
    hooks:
      # 提交前，需要检查提交 message
      - id: check-commit-message
        name: Check commit message
        entry: python3 scripts/pre_commit/check_commit_message.py
        language: system
        stages: [ commit-msg ]
        verbose: true

      # 执行 preci 流水线
      - id: check-pre-ci-pipeline
        name: check pre ci pipeline
        entry: python3 scripts/pre_commit/pre-push.py
        language: system
        stages: [ pre-push ]
        verbose: true

      # 执行 preci 扫描
      - id: check-pre-ci-pre-commit
        name: check pre ci pre commit
        entry: scripts/pre_commit/preci/scan.sh
        language: system
        verbose: true


      # 提交前检查敏感 IP 信息
      - id: ip
        name: Check ip
        description: Check ip
        entry: scripts/pre_commit/sensitive_info_check/ip.sh
        language: script
        verbose: true
        files: ""

      # 提交前检查文件是否已经带上版权信息头，但是不做强制修改
      # go install github.com/google/addlicense@latest
      - id: check-license
        name: check license header
        entry: scripts/pre_commit/check_license.sh
        language: script
        verbose: true
        files: "(.*\\.go|.*\\.sh|.*\\.py)$"

      # 提交前执行 gofmt 格式化文件
      - id: gofmt
        name: go format files
        entry: scripts/pre_commit/gofmt.sh
        language: script
        verbose: true
        files: ".*\\.go$"

      # goimports-reviser，检查 import 的顺序格式化
      - id: goimports-reviser
        name: go import checks
        entry: scripts/pre_commit/goimport.sh
        language: script
        verbose: true
        files: ".*\\.go"

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
      - id: detect-private-key

fix: bksql map 异常 --bug=133121153 (#601)
  pkg/unify-query/tsdb/bksql/format.go
  pkg/unify-query/tsdb/bksql/instance.go
Due: check-license, gofmt, goimports-reviser

feat: operator 内存资源优化
  pkg/operator/common/k8sutils/client.go
  pkg/operator/configs/configs.go
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

feat: operator 内存资源优化
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/discover/base.go
Due: check-license, gofmt, goimports-reviser

feat: operator 内存资源优化
  pkg/operator/common/k8sutils/client.go
  pkg/operator/configs/configs.go
Due: check-license, gofmt, goimports-reviser

feat: operator 内存资源优化
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

feat: libgse 支持 monitoring 定制化方案 --story=120460837 (#600)
  .gtmproject.yaml
  pkg/libgse/output/bkpush/bkpush.go
Due: check-license, gofmt, goimports-reviser

chore: 内存优化
  pkg/operator/configs/configs.go
Due: check-license, gofmt, goimports-reviser

feat: 空间路由同步周期任务：修复空间路由兜底任务逻辑问题 --story=120019754
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/bk-monitor-worker/store/redis/redis.go
Due: check-license, gofmt, goimports-reviser

feat: 空间路由同步周期任务：修复空间路由兜底周期任务空转问题，当Redis中数据发生变化时才进行Publish操作，添加更多日志，修复白名单后缀问题 --story=120019835 (#578)
  pkg/bk-monitor-worker/internal/metadata/models/common.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/accessvmrecord.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/accessvmrecord_test.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/influxdbclusterinfo.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/influxdbhostinfo.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/influxdbstorage.go
  pkg/bk-monitor-worker/internal/metadata/models/storage/influxdbtaginfo.go
  pkg/bk-monitor-worker/internal/metadata/service/spaceredis.go
  pkg/bk-monitor-worker/internal/metadata/service/timeseriesgroup.go
  pkg/bk-monitor-worker/internal/metadata/task/space.go
  pkg/bk-monitor-worker/store/redis/redis.go
Due: check-license, gofmt, goimports-reviser

feat: libgse 补充自定义维度
  pkg/libgse/monitoring/report/bkpipe/bkpipe.go
  pkg/libgse/monitoring/report/bkpipe/config.go
  pkg/libgse/monitoring/report/bkpipe/config_test.go
Due: check-license, gofmt, goimports-reviser

feat: libgse 补充自定义维度
  pkg/libgse/monitoring/report/bkpipe/bkpipe.go
Due: check-license, gofmt, goimports-reviser

chore: 细节调整
  pkg/libgse/monitoring/report/bkpipe/config.go
  pkg/libgse/monitoring/report/bkpipe/config_test.go
Due: check-license, gofmt, goimports-reviser

feat: operator 内存资源优化 --story=120467197 (#602)
  pkg/operator/common/k8sutils/client.go
  pkg/operator/configs/configs.go
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/operator/discover/base.go
  pkg/operator/operator/operator.go
Due: check-license, gofmt, goimports-reviser

feat: 从 OTLP 协议上报的 Metric 数据中提取 Scope 的名称作为维度 (#599)
  pkg/collector/exporter/converter/metrics.go
Due: check-license, gofmt, goimports-reviser

chore: collector gomod 更新
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: none

chore: collector gomod 更新
  pkg/collector/example/parsepprof/go.mod
Due: none

feat: collector gomod 更新 --story=120496159 (#604)
  pkg/collector/example/parsepprof/go.mod
  pkg/collector/example/parsepprof/go.sum
  pkg/collector/go.mod
  pkg/collector/go.sum
Due: none

feat: libgse 补充自定义维度 --story=120492960 (#603)
  pkg/libgse/monitoring/report/bkpipe/bkpipe.go
  pkg/libgse/monitoring/report/bkpipe/config.go
  pkg/libgse/monitoring/report/bkpipe/config_test.go
Due: check-license, gofmt, goimports-reviser

feat: labelvalues 查询接口修复 #1010158081120515429
  pkg/operator/operator/promsd.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/service/http/api.go
Due: check-license, gofmt, goimports-reviser

feat: labelvalues 查询接口修复 #1010158081120515429
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/service/http/api.go
Due: check-license, gofmt, goimports-reviser

feat: labelvalues 查询接口修复 #1010158081120515429
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/query.go
Due: check-license, gofmt, goimports-reviser

feat: labelvalues 查询接口修复 --story=120515429 (#605)
  pkg/operator/operator/promsd.go
  pkg/unify-query/cmdb/v1beta1/v1beta1.go
  pkg/unify-query/metadata/featureFlag.go
  pkg/unify-query/service/http/api.go
  pkg/unify-query/service/http/query.go
Due: check-license, gofmt, goimports-reviser

feat: ping采集任务性能优化 #1010158081120240095
  pkg/bkmonitorbeat/tasks/ping/gather.go
  pkg/bkmonitorbeat/tasks/ping/pinger.go
  pkg/bkmonitorbeat/tasks/ping/pinger_test.go
  pkg/bkmonitorbeat/tasks/ping/pingtool.go
  pkg/bkmonitorbeat/tasks/ping/pingtool_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/Makefile
  pkg/operator/hack/boilerplate.go.txt
  pkg/operator/hack/update-codegen.sh
Due: check-license, goimports-reviser

feat: ping采集任务性能优化 #1010158081120240095
  pkg/bkmonitorbeat/tasks/default_ip.go
  pkg/bkmonitorbeat/tasks/ping/pinger_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/apis/crd/bklogconfig/v1alpha1/doc.go
  pkg/operator/apis/crd/bklogconfig/v1alpha1/register.go
  pkg/operator/apis/crd/bklogconfig/v1alpha1/types.go
  pkg/operator/hack/boilerplate.go.txt
  pkg/operator/hack/update-codegen.sh
Due: check-license, gofmt, goimports-reviser

chore: bkmonitorbeat 新增 kubeevent 自监控指标
  pkg/bkmonitorbeat/tasks/kubeevent/gather.go
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/.gitignore
  pkg/operator/apis/bk.tencent.com/v1alpha1/doc.go
  pkg/operator/apis/bk.tencent.com/v1alpha1/register.go
  pkg/operator/apis/bk.tencent.com/v1alpha1/types.go
  pkg/operator/go.mod
  pkg/operator/go.sum
  pkg/operator/hack/tools.go
  pkg/operator/hack/update-codegen.sh
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/hack/boilerplate.go.txt
  pkg/operator/hack/update-codegen.sh
Due: check-license, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/hack/update-codegen.sh
Due: check-license

feat: init codegen
  pkg/operator/hack/update-codegen.sh
Due: check-license

feat: codegen init
  pkg/operator/hack/update-codegen.sh
Due: check-license

feat: codegen init bklogconfig
  pkg/operator/Makefile
  pkg/operator/apis/bk.tencent.com/v1alpha1/types.go
  pkg/operator/apis/bk.tencent.com/v1alpha1/zz_generated.deepcopy.go
  pkg/operator/apis/crd/v1beta1/zz_generated.deepcopy.go
  pkg/operator/client/clientset/versioned/clientset.go
  pkg/operator/client/clientset/versioned/fake/clientset_generated.go
  pkg/operator/client/clientset/versioned/fake/doc.go
  pkg/operator/client/clientset/versioned/fake/register.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/bk.tencent.com_client.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/bklogconfig.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/doc.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/fake/doc.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/fake/fake_bk.tencent.com_client.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/fake/fake_bklogconfig.go
  pkg/operator/client/clientset/versioned/typed/bk.tencent.com/v1alpha1/generated_expansion.go
  pkg/operator/client/clientset/versioned/typed/crd/v1beta1/dataid.go
  pkg/operator/client/clientset/versioned/typed/crd/v1beta1/fake/fake_dataid.go
  pkg/operator/client/informers/externalversions/bk.tencent.com/interface.go
  pkg/operator/client/informers/externalversions/bk.tencent.com/v1alpha1/bklogconfig.go
  pkg/operator/client/informers/externalversions/bk.tencent.com/v1alpha1/interface.go
  pkg/operator/client/informers/externalversions/crd/v1beta1/interface.go
  pkg/operator/client/informers/externalversions/factory.go
  pkg/operator/client/informers/externalversions/generic.go
  pkg/operator/client/informers/externalversions/internalinterfaces/factory_interfaces.go
  pkg/operator/client/listers/bk.tencent.com/v1alpha1/bklogconfig.go
  pkg/operator/client/listers/bk.tencent.com/v1alpha1/expansion_generated.go
  pkg/operator/client/listers/crd/v1beta1/dataid.go
Due: check-license, gofmt, goimports-reviser

feat: ping采集任务性能优化 #1010158081120240095
  pkg/bkmonitorbeat/configs/pingconfig.go
  pkg/bkmonitorbeat/tasks/ping/gather.go
  pkg/bkmonitorbeat/tasks/ping/pinger.go
  pkg/bkmonitorbeat/tasks/ping/pinger_test.go
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/operator/hack/tools.go
  pkg/operator/hack/update-codegen.sh
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/bk-monitor-worker/internal/metadata/models/constants.go
  pkg/bk-monitor-worker/internal/metadata/service/bcsclusterinfo_test.go
  pkg/bkmonitorbeat/configs/httpconfig_test.go
  pkg/operator/docs/dataId.md
Due: check-license, gofmt, goimports-reviser

feat: 增加日志的容器关联 datasource #1010158081120534521
  pkg/bk-monitor-worker/internal/metadata/service/bcsclusterinfo_test.go
Due: check-license, gofmt, goimports-reviser
